.entity-related {
  height: 100%;
  padding-bottom: 65px;
  background-color: #fcfcfc;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  overflow-y: auto;
  position: relative;
}

.entity-details .entity-related {
  margin: -25px -25px -85px;
  height: calc(100% + 110px);
}

.entity-related-loading-box {
  background-color: #fff;
  opacity: 0.9;
  padding: 30% 100px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0, 0, 1) 0.3s;
  transition: transform 0.3s cubic-bezier(0.55, 0, 0, 1) 0.3s;
}

.entity-related-loading-icon {
  fill: #5269de;
  display: inline-block;
  opacity: 0;
  width: 32px;
  -webkit-transition: opacity 0.3s cubic-bezier(0.55, 0, 0, 1);
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0, 1);
}

.entity-related-loading-text {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  color: #0c0d0d;
}

.entity-related-loading-box.is-loading {
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);

  .entity-related-loading-icon {
    opacity: 1;
  }
}

.entity-association-group {
  padding: 8px 0;
  position: relative;

  + .entity-association-group {
    border-top: 1px solid #dce3e6;
  }
}

.entity-association-group-header {
  cursor: pointer;
  padding: 12px 25px;
  position: relative;

  .quick-add-toggle {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 24px;
    top: 0;
  }
}

.entity-association-group-title {
  color: #696e6f;
  font-weight: 600;
  overflow: hidden;
}

.entity-association-group-expand {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.55, 0, 0, 1);
  transition: transform 0.2s cubic-bezier(0.55, 0, 0, 1);
  vertical-align: middle;
}

.is-expanded .entity-association-group-expand {
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.entity-association-group-overflow {
  max-height: 300px;
  overflow-y: scroll;
}

.entity-association-group-add-row {
  padding: 0 25px 10px;
}

.entity-association-group-empty-row {
  padding: 50px 0;

  .empty-icon {
    height: 64px;
    width: 64px;
    color: #c9d0d3;
    font-size: 64px;
    margin: 10px auto;
    text-align: center;
  }

  .empty-title {
    color: #0c0d0d;
    font-size: 20px;
    font-weight: 700;
    margin: 10px auto;
    text-align: center;
  }

  .empty-button {
    margin: 10px auto;
    text-align: center;
  }
}

.entity-association-group-loading-row {
  height: 0;
  display: none;
  padding: 0;
  text-align: center;

  &.is-loading {
    height: 52px;
    padding: 10px 0;
    display: block;
  }
}

.entity-association-group-loading-spinner {
  display: inline-block;
  fill: #2b41b2;
  height: 32px;
  width: 32px;
}

.entity-association-group-footer-link {
  font-size: 13px;
  font-weight: 600;
  margin: 0 24px 24px;
}

.is-uploading {
  .entity-association-group-empty-row {
    display: none;
  }

  .entity-association-group-loading-row {
    display: block;
  }
}

.quick-add-toggle {
  color: rgba(12, 13, 13, 0.64);
  font-size: 20px;
  height: 32px;
  line-height: 20px;
  width: 32px;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.55, 0, 0, 1);
  transition: transform 0.2s cubic-bezier(0.55, 0, 0, 1);
  cursor: pointer;

  &.is-active {
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .button.is-disabled {
    color: rgba(12, 13, 13, 0.16);
    cursor: pointer;
  }
}
