.entity-stats {
  font-size: 11px;
  line-height: 16px;
  padding: 0 25px 25px;

  .entity-stats-detail-label {
    overflow-x: auto;
  }

  .entity-stats-summation {
    margin-bottom: 20px;
    display: flex;

    .entity-stats-total {
      width: 50%;
    }

    .entity-stats-rate {
      padding-left: 20px;
      width: 50%;
    }

    .entity-stats-subtitle {
      color: #696e6f;
    }

    .entity-stats-big-num {
      font-size: 16px;
    }
  }

  .entity-stats-stacked-bar-graph {
    position: relative;

    .entity-stats-stacked-bar-graph-track {
      background-color: #f0f0f0;
      height: 32px;
      overflow: hidden;
      border-radius: 4px;

      .entity-stats-stacked-bar-graph-bar {
        background-color: #1350aa;
        height: 100%;
        -ms-transform: scaleX(0);
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -ms-transform-origin: left;
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transition: -webkit-transform .2s;
        transition: transform .2s;
      }
    }

    .entity-stats-stacked-bar-graph-surplus-line {
      width: 1px;
      height: 40px;
      position: absolute;
      top: 0;
      background-color: #1350aa;
      display: inline-block;
    }

    .entity-stats-stacked-bar-graph-surplus-value {
      position: absolute;
      bottom: -23px;
      color: rgba(0, 0, 0, 0.8);
      font-size: 12px;
      font-weight: 600;
    }
  }
}
