.entity-summary-list {
  -webkit-transition: background-color 0.3s cubic-bezier(0.55, 0, 0, 1);
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0, 1);
  box-shadow: 10px 10px 35px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 8px;
  margin: 0 24px 24px;
}

.entity-summary {
  cursor: pointer;
  min-height: 64px;
  padding: 10px 25px;
  position: relative;
  -webkit-transition: background-color 0.3s cubic-bezier(0.55, 0, 0, 1);
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0, 1);
  box-shadow: 10px 10px 35px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 8px;
  margin: 0 24px 24px;

  &:hover {
    .entity-summary-button-container {
      display: block;
    }

    .entity-summary-detail {
      display: none;
      width: 32px;
    }
  }
}

.entity-summary-list .entity-summary {
  border-bottom: 1px solid #dce3e6;
  border-radius: 0;
  margin: 0;

  &:first-child {
    border-radius: 8px 8px 0 0;
  }

  &:last-child {
    border-radius: 0 0 8px 8px;
  }
}

.entity-summary-subtitle-group > span,
.entity-summary-subtitle-name {
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entity-summary-title {
  color: #0c0d0d;
  font-weight: 500;
  line-height: 24px;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 2;
  margin-bottom: 0;

  > a {
    color: #0c0d0d;

    &:hover {
      text-decoration: underline;
    }
  }

  &:last-child {
    line-height: 44px;
  }
}

.entity-summary-subtitle {
  color: #696e6f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

.entity-summary-subtitle-name {
  max-width: 40%;
  vertical-align: top;
}

.entity-summary-subtitle-group {
  font-size: 0;
  line-height: 0;

  > span {
    font-size: 12px;
    line-height: 20px;
    max-width: 49%;

    &:only-of-type {
      max-width: 100%;
    }

    + span:before {
      content: '|';
      padding: 0 6px;
    }
  }
}

.entity-summary-detail {
  color: #696e6f;
  float: right;
  line-height: 24px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

.entity-summary-icon {
  float: left;
  margin: 5px 10px 5px 0;
  width: 36px;
  height: 36px;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
}

.entity-summary-button-container {
  display: none;
  margin: -6px -10px -2px 0;
  float: right;
}

.entity-summary-button {
  color: #696e6f;
  display: inline-block;
  font-size: 16px;
  margin-left: -6px;
  text-align: center;

  &:hover {
    color: #0c0d0d;
  }
}

.entity-summary.entity-summary-task {
  .entity-summary-icon {
    position: absolute;
    right: -14px;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #0c0d0d;
    cursor: pointer;
    line-height: 34px;
    text-align: center;
  }

  &.is-complete {
    .entity-summary-icon {
      color: #5269de;
    }

    .entity-summary-title {
      color: #3b3e3f;
      text-decoration: line-through;
    }
  }

  &.is-overdue .entity-summary-detail {
    color: #b50814;
  }
}

.entity-summary.has-large-icon {
  min-height: 74px;

  .entity-summary-icon {
    width: 60px;
    height: 60px;
    margin-top: -3px;
  }
}
