.btn-flat-default:hover,
.btn-flat-alert:hover,
.btn-flat-secondary:hover {
  background-color: transparent;
}

.btn-default:disabled,
.btn-default:disabled:hover,
.btn-alert:disabled,
.btn-alert:disabled:hover,
.btn-brand-primary:disabled,
.btn-brand-primary:disabled:hover,
.btn-cta:disabled,
.btn-cta:disabled:hover,
.btn-primary:disabled,
.btn-primary:disabled:hover {
  opacity: 1;
  box-shadow: none;
  cursor: not-allowed;
  background-color: rgba(12, 13, 13, 0.08);
  color: rgba(12, 13, 13, 0.32);
}

.btn-flat-default:disabled,
.btn-flat-default:disabled:hover,
.btn-flat-alert:disabled,
.btn-flat-alert:disabled:hover,
.btn-flat-primary:disabled,
.btn-flat-primary:disabled:hover,
.btn-flat-secondary:disabled,
.btn-flat-secondary:disabled:hover {
  cursor: not-allowed;
  background-color: transparent;
  color: rgba(12, 13, 13, 0.32);
}

.btn-default:disabled.btn-dark,
.btn-default:disabled:hover.btn-dark,
.btn-alert:disabled.btn-dark,
.btn-alert:disabled:hover.btn-dark,
.btn-brand-primary:disabled.btn-dark,
.btn-brand-primary:disabled:hover.btn-dark,
.btn-cta:disabled.btn-dark,
.btn-cta:disabled:hover.btn-dark,
.btn-primary:disabled.btn-dark,
.btn-primary:disabled:hover.btn-dark {
  background-color: rgba(255, 255, 255, 0.16);
  color: rgba(255, 255, 255, 0.48);
}

.btn-flat-default:disabled.btn-dark,
.btn-flat-default:disabled:hover.btn-dark,
.btn-flat-alert:disabled.btn-dark,
.btn-flat-alert:disabled:hover.btn-dark,
.btn-flat-primary:disabled.btn-dark,
.btn-flat-primary:disabled:hover.btn-dark,
.btn-flat-secondary:disabled.btn-dark,
.btn-flat-secondary:disabled:hover.btn-dark {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.48);
}

.btn {
  letter-spacing: 0.5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: roboto, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  padding: 9px 16px 8px;
  text-align: center;
  transition: background-color 0.2s, opacity 0.2s;
  outline: 0;
  position: relative;
  overflow: hidden;

  &.btn-large {
    height: 56px;
  }
}

.btn:hover {
  text-decoration: none;
}

.btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 110%;
  padding-top: 110%;
  transition: width 0.2s cubic-bezier(0.4, 0, 1, 1), padding-top 0.2s cubic-bezier(0.4, 0, 1, 1);
}

.btn-default,
.btn-default:active,
.btn-default:focus,
.btn-default:hover {
  background-color: #fff;
}

.btn-default {
  box-shadow: 0 0 4px 0 rgba(12, 13, 13, 0.05), 0 2px 4px 0 rgba(12, 13, 13, 0.15);
  color: #696e6f;
}

.btn-default:hover {
  box-shadow: 0 0 8px 0 rgba(12, 13, 13, 0.05), 0 4px 8px 0 rgba(12, 13, 13, 0.15);
}

.btn-default:focus {
  box-shadow: 0 0 0 4px #8fa0f5;
}

.btn-default:active {
  box-shadow: 0 0 4px 0 rgba(12, 13, 13, 0.05), 0 2px 4px 0 rgba(12, 13, 13, 0.15);
}

.btn-primary {
  background-color: #2b41b2;
  box-shadow: 0 0 4px 0 rgba(12, 13, 13, 0.05), 0 2px 4px 0 rgba(12, 13, 13, 0.15);
  color: #fff;
}

.btn-primary:hover {
  opacity: 0.84;
  box-shadow: 0 0 8px 0 rgba(12, 13, 13, 0.05), 0 4px 8px 0 rgba(12, 13, 13, 0.15);
  color: #fff;
}

.btn-primary:active {
  background-color: #5269de;
  box-shadow: 0 0 4px 0 rgba(12, 13, 13, 0.05), 0 2px 4px 0 rgba(12, 13, 13, 0.15);
  color: #fff;
}

.btn-primary:focus {
  box-shadow: 0 0 0 4px #8fa0f5, 0 0 8px 0 rgba(12, 13, 13, 0.05), 0 4px 8px 0 rgba(12, 13, 13, 0.15);
  background-color: #5269de;
  color: #fff;
}

.btn-primary:before {
  background-color: rgba(255, 255, 255, 0.32);
}

.btn-cta {
  background-color: #ff3465;
  color: #fff;
  box-shadow: 0 0 4px 0 rgba(12, 13, 13, 0.05), 0 2px 4px 0 rgba(12, 13, 13, 0.15);
}

.btn-cta:hover {
  box-shadow: 0 0 8px 0 rgba(12, 13, 13, 0.05), 0 4px 8px 0 rgba(12, 13, 13, 0.15);
  background-color: #d92c55;
}

.btn-cta:active {
  background-color: #d92c55;
  box-shadow: 0 0 4px 0 rgba(12, 13, 13, 0.05), 0 2px 4px 0 rgba(12, 13, 13, 0.15);
}

.btn-cta:focus {
  background-color: #ff3465;
  box-shadow: 0 0 0 4px #8fa0f5, 0 0 8px 0 rgba(12, 13, 13, 0.05), 0 4px 8px 0 rgba(12, 13, 13, 0.15);
}

.btn-cta:before {
  background-color: rgba(255, 255, 255, 0.32);
}

.btn-brand-primary {
  text-transform: capitalize;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  padding: 12px 30px;
  text-align: center;
  transition: all ease-in-out 0.2s;
  color: #fff;
  background-color: #ff3465;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.btn-flat-default:focus,
.btn-flat-primary:focus,
.btn-flat-secondary:focus {
  box-shadow: 0 0 0 4px #8fa0f5;
}

.btn-flat-default {
  background-color: transparent;
  color: #696e6f;
}

.btn-flat-default:focus,
.btn-flat-default:hover {
  background-color: rgba(105, 110, 111, 0.16);
}

.btn-flat-default:before {
  background-color: rgba(43, 65, 178, 0.2);
}

.btn-brand-primary:focus,
.btn-brand-primary:hover {
  color: #ff3465;
  background-color: #fff;
}

.btn-flat-primary {
  background-color: transparent;
  color: #2b41b2;
}

.btn-flat-primary:focus,
.btn-flat-primary:hover {
  background-color: rgba(43, 65, 178, 0.16);
}

.btn-flat-primary:before {
  background-color: rgba(43, 65, 178, 0.2);
}

.btn-flat-secondary {
  background-color: transparent;
  color: #6d82ec;
}

.btn-flat-secondary:focus,
.btn-flat-secondary:hover {
  background-color: rgba(109, 130, 236, 0.16);
}

.btn-flat-secondary:before {
  background-color: rgba(43, 65, 178, 0.2);
}

.btn-alert,
.btn-alert:active,
.btn-alert:focus,
.btn-alert:hover {
  background-color: #b50814;
}

.btn-alert {
  box-shadow: 0 0 4px 0 rgba(12, 13, 13, 0.05), 0 2px 4px 0 rgba(12, 13, 13, 0.15);
  color: #fff;
}

.btn-alert:hover {
  box-shadow: 0 0 8px 0 rgba(12, 13, 13, 0.05), 0 4px 8px 0 rgba(12, 13, 13, 0.15);
}

.btn-alert:focus {
  box-shadow: 0 0 0 4px #8fa0f5;
}

.btn-alert:active {
  box-shadow: 0 0 4px 0 rgba(12, 13, 13, 0.05), 0 2px 4px 0 rgba(12, 13, 13, 0.15);
}

.btn-flat-alert {
  background-color: transparent;
  color: #b50814;
}

.btn-flat-alert:focus {
  box-shadow: 0 0 0 4px #8fa0f5;
}

.button,
.flat-button,
.icon-button,
.selectable-button,
.toggle-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  text-transform: uppercase;
  text-align: center;
}

.button:disabled,
.flat-button:disabled,
.icon-button:disabled,
.selectable-button:disabled,
.toggle-button:disabled {
  cursor: default;
}

.button.button-flat,
.button.button-toggle,
.flat-button,
.selectable-button,
.toggle-button {
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  padding: 5px 18px;
}

.button.button-flat,
.flat-button {
  background: 0 0;
  box-shadow: none;
  color: #696e6f;
}

.button.button-flat:active,
.flat-button:active {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.button.button-flat:active.disabled,
.flat-button:active.disabled {
  box-shadow: none;
}

.button.button-flat:focus,
.flat-button:focus {
  background-color: #dce3e6;
}

.button.button-icon,
.icon-button {
  border-radius: 50%;
  font-weight: 400;
  padding: 6px;
  height: 36px;
  width: 36px;
  text-align: center;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.button.button-icon:active,
.icon-button:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.button.button-toggle,
.toggle-button {
  border: 1px solid transparent;
  border-radius: 2px;
  font-weight: 400;
  padding: 6px;
  margin: 0 2px;
  font-size: 24px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.button.button-toggle.disabled,
.toggle-button.disabled {
  color: rgba(0, 0, 0, 0.1);
}

.button.button-toggle.active,
.button.button-toggle:active,
.toggle-button.active,
.toggle-button:active {
  border-color: #dce3e6;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px #ababaa;
}

.button.button-toggle:hover,
.toggle-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #dce3e6;
}

.selectable-button {
  border: 1px solid #2b41b2;
  background: #fff;
  font-weight: default;
  color: #2b41b2;
}

.selectable-button.is-selected {
  background: #2b41b2;
  color: #fff;
}

.button.button-with-icon {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.button.button-with-icon i.ledger-icon {
  padding-right: 7px;
}

.counter-toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  cursor: pointer;
}

.counter-toggle-button section.toggle-button {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.counter-toggle-button-counter {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  font-size: 10px;
  font-weight: 500;
  border-radius: 50%;
  background: #2b41b2;
  color: #fff;

  &:not(:empty) + .counter-toggle-button-icon {
    display: none;
  }
}

.counter-toggle-button-text {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  margin-left: 6px;
}

.counter-toggle-button-text.active,
.counter-toggle-button-text:hover {
  color: #2b41b2;
}

.toggle-button-group {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #fcfcfc;

  .toggle-button {
    color: #696e6f;
    font-size: 24px;
    border: 1px solid #dce3e6;
    padding: 6px 12px;
    margin: 0;

    &:first-child {
      border-radius: 8px 0 0 8px;
    }

    &:last-child {
      border-radius: 0 8px 8px 0;
      margin-right: 0;
    }

    &:hover,
    &.active {
      background-color: #dce3e6;
    }
  }
}
