.error-takeover {
  background: #eaf0f2;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 5;
  transition: margin-left 0.3s, width 0.3s;

  .error-page-container {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .error-message {
      .error-message-title {
        margin-bottom: 30px;
        font-size: 48px;
        font-weight: 300;
        color: #0c0d0d;
      }

      .error-message-body {
        margin-bottom: 40px;
        font-size: 16px;
        color: #696e6f;
      }

      .btn {
        margin: 0 5px;
      }
    }
  }
}

.unauthorized {
  padding-top: 200px;
  text-align: center;

  .unauthorized-button {
    margin-top: 20px;
  }

  .unauthorized-content {
    color: #0c0d0d;
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;

    .unauthorized-subtext {
      font-size: 16px;
      font-weight: 400;
      margin-top: 10px;
    }
  }

  .unauthorized-icon {
    color: #696e6f;

    .unauthorized-large-icon {
      background-color: #dce3e6;
      font-size: 90px;
      border-radius: 50%;
      padding: 19px 0;
      margin: 10px auto;
      height: 128px;
      width: 128px;
    }

    .unauthorized-small-icon {
      font-size: 18px;
      border-radius: 50%;
      height: 32px;
      width: 32px;
      background-color: #dce3e6;
      padding: 7px 0;
      position: absolute;
      margin-top: 20px;
    }
  }
}
