.filter-options {
  background-color: #fff;
  position: relative;
}

.filter-options-header {
  border-bottom: 1px solid #dce3e6;
  color: #0c0d0d;
  font-size: 18px;
  height: 53px;
  left: 0;
  line-height: 30px;
  padding: 17px 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.filter-options-clear-button,
.filter-options-title {
  color: #0c0d0d;
  text-align: left;
  position: absolute;
  bottom: 0;
  vertical-align: middle;
  top: 0;
}

.filter-options-title {
  cursor: default;
  font-size: 20px;
  line-height: 53px;
  left: 30px;
  right: 70px;
}

.filter-options-clear-button {
  line-height: 50px;
  right: 10px;

  > button {
    cursor: pointer;
  }
}

.filter-options-footer {
  border-top: 1px solid #dce3e6;
  bottom: 0;
  height: 56px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;

  > .btn:not([style*="display: none"]) {
    height: 56px;
    margin: 0;
    border-radius: 0;
    float: left;

    &:first-child {
      border-radius: 0 0  0 16px;

      &:nth-last-child(1) {
        width: 100%;
      }

      &:nth-last-child(2),
      &:nth-last-child(2) ~ .btn {
        width: 50%;
      }
    }
  }
}

.filter-options-scroll-wrapper {
  height: 100%;
  overflow: hidden;
  padding: 53px 0 66px;
}

.filter-options-content {
  color: #696e6f;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.filter-options-group-list {
  padding: 5px 0 5px;

  .filter-loading {
    height: 44px;
    text-align: center;
    padding-top: 6px;
  }

  .filter-empty {
    height: 44px;
    padding: 12px 30px;
    color: #696e6f;
  }

  .filter-separator {
    border-bottom: 1px solid #dce3e6;

    &:last-child {
      border-bottom: none;
    }
  }

  .filter-item {
    position: relative;
    height: 44px;
    padding: 12px 30px;
    cursor: pointer;
    border-bottom: 1px solid #dce3e6;

    > div {
      display: block;
      position: absolute;
      margin-right: 30px;
    }

    .filter-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 200px;
      font-size: 14px;
    }

    .filter-actions {
      right: 0;
      cursor: pointer;
      color: #696e6f;
      font-size: 12px;
      top: 15px;

      .icon-lock {
        cursor: default;
      }

      i {
        margin: 0 5px;
      }
    }

    &.selected {
      background-color: #2c97de;
      color: #fff;

      i {
        color: #fff;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.filter {
  padding: 0 30px;

  &.is-expanded {
    margin-bottom: 15px;
  }

  .checkbox {
    display: block;
  }
}

.filter-header {
  cursor: pointer;
  color: #0c0d0d;
  font-weight: 500;
  height: 44px;
  line-height: 44px;
  padding-right: 20px;
  position: relative;
  vertical-align: middle;

  > i {
    bottom: 0;
    color: #696e6f;
    font-size: 15px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
  }
}

.filter {
  &.is-expanded .filter-header > i {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  &.filter-extension {
    padding: 0;

    > ul {
      padding-left: 16px;
    }
  }

  &.filter-range {
    > .filter-header {
      padding-right: 0;
    }

    &.is-expanded {
      margin-bottom: 0;
    }
  }
}

.filter-range-label {
  float: right;
  height: 44px;

  a {
    font-size: 12px;
  }
}

.filter-label {
  font-size: 13px;
}

.item-counter {
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  height: 16px;
  line-height: 16px;
  padding: 0 8px;
  vertical-align: middle;
}
