.popup-container {
  display: inline-block;
  width: 42px;
  border-bottom: 0;
  position: relative;
  cursor: pointer;

  &:focus {
    border-color: transparent;
    box-shadow: none;
  }

  .popup-badge,
  > span.counter {
    top: -2px;
    right: -4px;
    font-size: 10px;
    color: #fff;
    border-radius: 50%;

    &:empty {
      display: none;
    }
  }

  .popup-badge {
    background: #b50814;
    font-weight: 500;
    height: 18px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s 0.5s cubic-bezier(0.55, 0, 0.125, 1.5);
    transition: transform 0.3s 0.5s cubic-bezier(0.55, 0, 0.125, 1.5);
    width: 18px;

    &.is-hidden {
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transition: -webkit-transform 0.2s 0.6s cubic-bezier(0.55, 0, 0, 1);
      transition: transform 0.2s 0.6s cubic-bezier(0.55, 0, 0, 1);

      > span {
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: -webkit-transform 0.3s 0.5s cubic-bezier(0.55, 0, 0, 1);
        transition: transform 0.3s 0.5s cubic-bezier(0.55, 0, 0, 1);
      }
    }

    > span {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: -webkit-transform 0.2s 0.6s cubic-bezier(0.55, 0, 0, 1);
      transition: transform 0.2s 0.6s cubic-bezier(0.55, 0, 0, 1);
    }
  }

  > span.counter {
    position: absolute;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 17px;
    background: #2b41b2;
  }

  &.sort-options-dropdown {
    position: absolute;
    left: 63px;
    top: 76px;
  }
}

.popup-content {
  z-index: 0;
  max-height: none;

  &.list-filter-selector {
    right: inherit;
    top: 17px;
    left: 0;
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    max-height: 300px;
  }

  &.list-settings {
    z-index: 1;
    left: inherit;
    top: 36px;
    right: 0;
  }

  &.list-search {
    display: none;
    overflow: hidden;
    margin-bottom: 5px;
    position: absolute;
    right: 40px;
    bottom: 0;
    width: 200px;
    background-color: #fff;

    &.open-right {
      right: auto;
      left: 34px;
    }
  }
}
