.profile-left,
.profile-right {
  min-width: 300px;
  width: 25%;
  height: 100%;
}

.profile-left,
.profile-center .profile-right {
  display: flex;
  flex-flow: column nowrap;
}

.profile-left {
  float: left;
}

.profile-center {
  height: 100%;
  overflow: hidden;
}

.profile-right {
  position: relative;
  float: right;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .profile-left {
    width: 45%;
  }

  .profile-right,
  .profile-center {
    float: none;
    width: auto;
    height: 50%;
  }

  .profile-right {
    height: 50%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-left: 45%;
  }
}

@media (max-width: 991.98px) {
  .profile-details {
    height: 100%;
    width: auto !important;
    padding: 0 20px;
  }
}

@media (max-width: 767.98px) {
  .profile-tabs {
    width: 100%;
    height: 100%;
  }
}

.profile-image-component-overlay {
  background-color: rgba(12, 13, 13, 0.48);
  bottom: 0;
  color: #fff;
  display: none;
  font-size: 22px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.2s cubic-bezier(0.55, 0, 0, 1), color 0.2s cubic-bezier(0.55, 0, 0, 1);

  > i {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.profile-image-component {
  &:hover .profile-image-component-overlay {
    display: block;
  }

  &:active .profile-image-component-overlay {
    background-color: rgba(12, 13, 13, 0.64);
    color: #fcfeff;
  }
}

.profile-image-component-image {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;

  > img {
    height: 100%;
  }
}

.profile-image-component {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #dce3e6;
  color: rgba(12, 13, 13, 0.64);
  position: relative;
  font-size: 0;
  line-height: 0;
}

.profile-image-component-icon,
.profile-image-component-initials,
.profile-image-component-placeholder {
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.profile-image-component-icon {
  font-size: 22px;
  font-weight: 400;
}

.profile-image-component-initials {
  font-size: 16px;
  font-weight: 500;
  vertical-align: middle;
}

.profile-image-component-placeholder {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.profile-image-component-uploader {
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.profile-image-component-loading-overlay {
  background-color: rgba(12, 13, 13, 0.48);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.profile-image-component-loading-icon {
  bottom: 0;
  fill: #fff;
  height: 32px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
}

.profile-image-component-image,
.profile-image-component-icon,
.profile-image-component-loading-overlay {
  display: none;
}

.profile-image-component {
  &.is-empty .profile-image-component-icon,
  &.is-uploading .profile-image-component-loading-overlay,
  &.is-photo-loaded .profile-image-component-image {
    display: block;
  }

  &.profile-image-component-circle {
    border-radius: 8px;

    .profile-image-component-image {
      border-radius: 8px;
    }
  }
}

.profile-images-carousel-component {
  height: 40px;

  .profile-images-carousel-picture {
    border-radius: 8px;
    float: left;
    margin-right: -10px;
    height: 40px;
    width: 40px;
    border: 1px solid #dce3e6;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
