.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.h1,
h1 {
  font-size: 24px;
  line-height: 32px;
}

.h2,
h2 {
  font-size: 20px;
  line-height: 28px;
}

.h3,
h3 {
  font-size: 16px;
  line-height: 24px;
}

.h4,
h4 {
  font-size: 13px;
  line-height: 24px;
}

.h5,
h5 {
  font-size: 12px;
  line-height: 20px;
}

.h6,
h6 {
  font-size: 10px;
  line-height: 20px;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: list-item;
}

a {
  color: #2b41b2;
  text-decoration: none;

  &:hover {
    text-decoration: #2b41b2 underline;
  }
}

.clear {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.clearfix {
  &:after,
  &:before {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.clear {
  clear: both;
}

.clearfix {
  &:after,
  &:before {
    content: '\0020';
  }

  &:after {
    clear: both;
  }

  zoom: 1;
}

.vertical-divider {
  display: inline-block;
  width: 1px;
  height: 100%;
  border-right: 1px solid transparent;
}

.hide,
.hover-trigger:not(:hover) .hover-target {
  display: none;
}

.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}
