.circle-spinner {
  position: relative;
  border: 1px solid #2b41b2;
  border-left-color: transparent !important;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: circle-spinner 0.8s infinite linear;
  animation: circle-spinner 0.8s infinite linear;
  border-radius: 50%;
  height: 80%;
  width: 80%;
  margin: 10%;

  &:after {
    border-radius: 50%;
    height: 80%;
    width: 80%;
    margin: 10%;
  }

  &.circle-spinner-white {
    border-color: #fff;
  }
}

@-webkit-keyframes circle-spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes circle-spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.list-spinner {
  font-size: 0;
  text-align: center;
}

.list-spinner-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #dce3e6;
  display: inline-block;
  -webkit-animation: list-spinner-dot 1.4s infinite ease-in-out;
  animation: list-spinner-dot 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  &:nth-child(1) {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  &:nth-child(2) {
    -webkit-animation-delay: -0.12s;
    animation-delay: -0.12s;
  }

  + .list-spinner-dot {
    margin-left: 4px;
  }
}

@-webkit-keyframes list-spinner-dot {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes list-spinner-dot {
  0%,
  100%,
  80% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
