.tabs {
  width: 100%;
  border-bottom: 1px solid #dce3e6;
}

.tab {
  color: rgba(12, 13, 13, 0.64);
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;

  &:after {
    background-color: #4a4060;
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transition: none;
  }

  &.active,
  &:hover,
  &.tab-dashboard.active {
    color: #0c0d0d;
    text-decoration: none;
  }

  &.active:after {
    transform: none;
    transition: transform 0.2s cubic-bezier(0.55, 0, 0, 1);
  }

  &.tab-dashboard {
    padding: 12px 24px;

    &:after {
      bottom: 0;
    }
  }
}

.tab-spacer {
  display: flex;
  flex: 0 1 100%;
}

.scrollable-tabs {
  .drager {
    overflow: hidden;
  }

  .tabs {
    flex-wrap: nowrap;
    margin: 0 10px;
    border-bottom: 1px solid #dce3e6;

    .tab {
      white-space: nowrap;
      padding: 6px 24px 18px;

      &.active {
        color: #0c0d0d;
        font-weight: bold;
      }
    }
  }
}

.has-tabs .scrollable-tabs {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.08);
  height: 48px;
  overflow: visible;
  visibility: visible;
  transition: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 9;

  .tabs {
    border-bottom: none;

    .tab {
      padding-top: 10px;
    }
  }
}
