@-moz-keyframes toast-in {
  from {
    -moz-transform: translateY(120%);
  }

  to {
    -moz-transform: translateY(0);
  }
}

@-webkit-keyframes toast-in {
  from {
    -webkit-transform: translateY(120%);
  }

  to {
    -webkit-transform: translateY(0);
  }
}

@keyframes toast-in {
  from {
    transform: translateY(120%);
  }

  to {
    transform: translateY(0);
  }
}

.toaster {
  position: fixed;
  max-width: 700px;
  z-index: 9999;
}

.toast {
  -moz-animation: toast-in 0.3s;
  -webkit-animation: toast-in 0.3s;
  animation: toast-in 0.3s;
  background: #44a762;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.24);
  height: 48px;
  line-height: 48px;
  margin: 10px 0 0;
  padding: 0 20px;
  position: relative;
  text-align: left;
  -ms-transform: translatex(0);
  -webkit-transform: translatex(0);
  transform: translatex(0);
  color: #fff;

  // override bootstrap
  opacity: 1;
  max-width: 100%;
  background-clip: unset;
  border: none;
}

.toast-action,
.toast-message {
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
}

.toast.is-closed {
  pointer-events: none;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  -ms-transform: translatey(500%);
  -webkit-transform: translatey(500%);
  transform: translatey(500%);
}

.toast-message {
  font-weight: 400;
  line-height: 48px;
  max-width: 460px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toast-action .btn {
  margin: 0 20px;
  color: #fff;
}

.toast-close {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  vertical-align: middle;

  &:hover {
    cursor: pointer;
  }
}

.toast.toast-error {
  background-color: #cb1a42;
  color: #fff;
  line-height: 20px;

  .toast-action {
    display: inline-flex;
    align-items: center;
  }

  .toast-close {
    margin-left: 12px;
  }
}

.toaster {
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);

  &.toaster-error {
    .toast.is-closed {
      -ms-transform: translatex(0);
      -webkit-transform: translatex(0);
      transform: translatex(0);
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s;
      opacity: 0;
    }

    .toaster-toast-wrapper {
      text-align: center;
    }
  }
}

@media (max-width: 575.98px) {
  .toast {
    height: auto;
  }

  .toast-close {
    position: absolute;
    top: 14px;
    right: 14px;
  }

  .toast-message {
    max-width: 200px;
    padding-right: 20px;
  }

  .toast-action {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    width: 100%;
  }
}
