header {
  position: absolute;
  top: 0;
  right: 0;
  left: 60px;
  min-height: 60px;
  transition: margin .3s,width .3s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.sidebar-collapsed header {
  margin-left: 220px;
}

@media (max-width: 767.98px) {
  header {
    left: 0 !important;
    margin-left: 0 !important;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #3D4DB7;
  color: #fff;
  min-height: 60px;
}

.header-left, .header-right {
  display: flex;
  flex: 1 0 450px;
}

.header-center {
  display: flex;
  flex: 0 1 500px;
  height: 60px;
}

.header-left {
  height: 60px;
}

.header-right {
  height: 60px;
  justify-content: flex-end;
}

@media (max-width: 1400px) {
  .header-left, .header-right {
    flex-basis: auto;
  }
}

@media (max-width: 767.98px) {
  .header-center {
    display: none;
  }
}

.header-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding: 0 24px;
}

@media (max-width: 767.98px) {
  .header-title {
    margin-left: 50px;
    padding-right: 0;
  }
}

@media (max-width: 575.98px) {
  .header-title > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 110px;
  }
}

.header-action-bar {
  padding: 0 24px;
  display: flex;
  justify-content: flex-end;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  align-items: center;
}

.header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  i {
    &.active, &:focus, &:hover {
      opacity: .7;
    }
  }
}

.header-search {
  width: 100%;
  display: flex;
  align-items: center;
}

.header-logout {
  text-align: right;
  text-transform: uppercase;
  width: 100px;

  > a {
    color: #fff;
  }
}

.navigation-mobile-toggle {
  background-color: #2F404C;
  border-bottom: 1px solid #3C4C57;
  bottom: 0;
  color: #6D7982;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;

  &:hover, &:focus {
    color: #D5D8D8;
  }
}

.navigation-mobile-toggle-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  margin-left: -12px;
}

@media (min-width: 768px) {
  .navigation-mobile-toggle {
    display: none;
  }
}

.dropdown.dropdown-header-icon.dropdown {
  border-bottom: none;

  .button.button-toggle {
    &.active, &:focus, &:hover {
      background: 0 0;
      border-color: transparent;
      box-shadow: none;
    }
  }
}
