.settings-nav {
  padding: 25px;
  background-color: #fff;
  height: 100%;
  z-index: 100;
  overflow-y: auto;

  li {
    margin-left: 25px;
    padding: 6px 0;

    &.is-group {
      margin: 10px 0;
      padding: 0;
    }
  }
}

.settings-nav-collapsible {
  padding: 6px 0;

  .settings-nav-group.is-group {
    padding: 16px 25px;
    margin: 0;
  }

  .settings-nav-section-header {
    margin: 0;
    line-height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .settings-nav-group:not(:first-child) {
    border-top: 1px solid #EAF0F2;
  }
}

.settings-nav-list {
  margin-left: 25px;
  margin-bottom: 10px;

  li {
    padding: 6px 0;
  }
}

.settings-nav-section-header {
  color: #363636;
  display: block;
  font-size: 13px;
  font-weight: 500;
  margin: 10px 0;
}

.settings-nav-section-sub-header {
  color: #363636;
  display: block;
  font-size: 13px;
  font-weight: 500;
  margin: 10px 0;
  font-weight: initial;
  font-size: 12px;
}

.settings-nav-expansion-icon {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.55, 0, 0, 1);
  transition: transform 0.2s cubic-bezier(0.55, 0, 0, 1);
  vertical-align: middle;
}

.is-expanded .settings-nav-expansion-icon {
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.settings-nav-page-link {
  color: #888;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  width: 100%;

  &:hover {
    text-decoration: none;
    color: #363636;
  }

  &.active {
    color: #0D94F6;
  }
}
