.dashboard {
  background-color: #f2f2f2;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  position: relative;
  z-index: 0;
}

.dashboard-content {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px 15px;
}

.dashboard-tabs {
  display: block;
  overflow: hidden;
  margin: 0 10px 25px;
  border-bottom: 1px solid #d5d8d8;
}

.dashboard-cards .card {
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.55, 0, 0, 1),opacity 1s cubic-bezier(0.55, 0, 0, 1);
  transition: box-shadow 0.3s cubic-bezier(0.55, 0, 0, 1),opacity 1s cubic-bezier(0.55, 0, 0, 1);
}

.dashboard-cards.is-ftue .card {
  opacity: .5;
  pointer-events: none;
}

.dashboard-cards.is-ftue .card.card-ftue {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 767.98px) {
  .dashboard-cards .card {
    height: auto;
    min-height: 350px;
  }

  .dashboard-cards .card.card-ftue {
    min-height: 600px;
  }
}

/*-------------------
    Onboarding Card
--------------------*/

.dashboard-onboarding {
  display: flex;
  justify-content: space-evenly;
  font-size: 0;
  margin-bottom: 40px;
}

.dashboard-onboarding-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 33%;
}

.dashboard-onboarding-step:hover .dashboard-onboarding-label {
  visibility: hidden;
}

.dashboard-onboarding-step:hover .dashboard-onboarding-instructions {
  display: flex;
}

.dashboard-onboarding-step.is-complete .dashboard-onboarding-icon-box>i:first-child {
  opacity: 0;
}

.dashboard-onboarding-step.is-complete .dashboard-onboarding-icon-box>i:last-child {
  opacity: 1;
}

.dashboard-onboarding-step.is-complete:hover .dashboard-onboarding-label {
  visibility: visible;
}

.dashboard-onboarding-step.is-complete:hover .dashboard-onboarding-instructions {
  display: none;
}

.dashboard-onboarding-icon-box {
  background-color: #ccc;
  border-radius: 50%;
  color: #617e8b;
  display: inline-block;
  font-size: 38px;
  height: 75px;
  position: relative;
  width: 75px;
}

.dashboard-onboarding-icon-box>i {
  bottom: 0;
  height: 0;
  left: 0;
  line-height: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.dashboard-onboarding-icon-box>i:first-child {
  opacity: 1;
}

.dashboard-onboarding-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 60px;
  width: 100%;
}

.dashboard-onboarding-label {
  color: #363636;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
}

.dashboard-onboarding-instructions {
  position: absolute;
  color: #888;
  display: none;
  font-size: 12px;
  line-height: 16px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 200px;
}

.dashboard-onboarding-button-step {
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  width: 100%;
}

.dashboard-onboarding-button-step>a {
  max-width: 200px;
  width: 100%;
}

.dashboard-onboarding-complete-text {
  color: #ccc;
  font-size: 13px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  .dashboard-onboarding {
    flex-direction: column;
  }

  .dashboard-onboarding-step {
    width: 100%;
  }

  .dashboard-onboarding-step + .dashboard-onboarding-step {
    margin-top: 10px;
  }
}

/*-------------------
    Entity Tile
--------------------*/

.entity-tile {
  color: #363636;
  margin-top: 10px;
  min-height: 55px;
  position: relative;
}

.entity-tile:first-child {
  margin-top: 0;
}

.entity-tile-media {
  height: 50px;
  width: 50px;
}

.entity-tile-content {
  margin-left: 10px;
}

.entity-tile-name {
  margin-bottom: 0;
}

.entity-tile-name>a {
  color: inherit;
}

.entity-tile-name>a:hover {
  text-decoration: underline;
}

.entity-tile-detail {
  color: #888;
}

/*-------------------
    Empty State
--------------------*/

.empty-state {
  color: #ccc;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -ms-transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
}

.empty-state-icon {
  border-radius: 50%;
  background-color: #f2f2f2;
  font-size: 46px;
  height: 100px;
  line-height: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

/*-------------------
    Report filter
--------------------*/

.report-filter {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 10px 10px 20px;
}

.report-filter-current-date {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  font-size: 20px;
  padding-top: 10px;
  white-space: nowrap;
}

.report-filter-current-date>h4 {
  color: #888;
}

.report-filter-filter-group {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
}

.report-filter-dropdown-group {
  flex: 0 1 200px;
  margin-left: 20px;
  min-width: 150px;
}

.report-filter-dropdown-header {
  color: #888;
  font-weight: 500;
  font-size: 12px;
}

.report-filter-filter-group .dropdown-selected {
  font-weight: 700;
}

.report-card-filter {
  float: right;
  max-height: 24px;
}

.report-card-date-range-filter {
  float: right;
  width: 150px;
  margin-left: 20px;
}

.report-card-date-range-filter .dropdown-selected {
  font-weight: 700;
}

/*-------------------
    Report
--------------------*/

.dashboard-report {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.dashboard-report-stats {
  flex: 0 0 auto;
}

.dashboard-report-data-block {
  display: inline-block;
  vertical-align: top;
  min-width: 100px;
  max-width: 30%;
}

.dashboard-report-data-label {
  color: #888;
  margin-bottom: 0;
}

.dashboard-report-data-value {
  color: #363636;
  font-size: 28px;
}

.dashboard-report-positive-data-value {
  color: #49b04b;
  font-size: 28px;
}

.dashboard-report-positive-data-value::before {
  content: '+';
}

.dashboard-report-chart {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  position: relative;
}

/*-------------------
    Custom cols/rows
--------------------*/

@media (min-width: 992px) {
  .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .col-lg-4 {
    width: -webkit-calc(33.33333% - 20px);
    width: calc(33.33333% - 20px);
  }

  .col-lg-6 {
    width: -webkit-calc(50% - 20px);
    width: calc(50% - 20px);
  }

  .col-lg-8 {
    width: -webkit-calc(66.66667% - 20px);
    width: calc(66.66667% - 20px);
  }

  .col-lg-12 {
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
  }
}

.row-1, .row-2, .row-3, .row-4, .row-5,
.row-6, .row-7, .row-8, .row-9, .row-10,
.row-11, .row-12, .row-13, .row-14, .row-15 {
  overflow: hidden;
  margin-bottom: 20px;
}

.row-1 { height: 150px; }
.row-2 { height: 320px; }
.row-3 { height: 490px; }
.row-4 { height: 660px; }
.row-5 { height: 830px; }
.row-6 { height: 1000px; }
.row-7 { height: 1170px; }
.row-8 { height: 1340px; }
.row-9 { height: 1510px; }
.row-10 { height: 1680px; }
.row-11 { height: 1850px; }
.row-12 { height: 2020px; }
.row-13 { height: 2190px; }
.row-14 { height: 2360px; }
.row-15 { height: 2530px; }
