.reports-page {
  height: 100%;
}

.report-table-component .ember-table-body-container .ember-table-table-row.ember-table-selected {
  background-color: #2196f3;
}

.report-table-component .ember-table-table-row.ember-table-last-row {
  cursor: default !important;
  background-color: #fff !important;
}

.report-table-component .ember-table-header-cell.table-header-cell-sortable,
.report-table-component .ember-table-right-table-block .ember-table-header-cell.table-header-cell {
  cursor: default;
}

.report-table-component.report-table-component-activity .ember-table-table-row {
  cursor: default;
}

.report-table-component.report-table-component-activity .ember-table-body-container .ember-table-table-row.ember-table-hover {
  background: #fff;
}
