.card {
  box-shadow: 10px 10px 35px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 8px;
  border: none;
  position: relative;
  overflow: initial;
  display: flex;
  flex-flow: column nowrap;
}

.card-body {
  display: flex;
  flex-flow: column nowrap;
}

.card-title {
  flex: 0 0 auto;
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.32);

  > i {
    font-size: 24px;
    vertical-align: bottom;
  }
}

.card-subheader {
  color: #696e6f;
}

.card-content {
  flex: 1 1 auto;

  .list-spinner {
    display: block;
    position: relative;
    top: 50%;
  }
}

@media (min-width: 768px) {
  .card-indent {
    padding: 24px;
  }
}

.card.card-scroll {
  .card-body {
    height: 100%;
  }

  .card-content {
    height: 100%;
    margin: 0 -35px;
    padding: 35px;
    overflow-y: auto;
  }
}
