.card-team {
  position: relative;
  display: inline-block;
  height: 225px;
  width: 370px;
  margin-right: 10px;
  margin-bottom: 24px;
  padding: 20px 20px 75px;
  text-align: left;
  vertical-align: top;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 10px 10px 35px 0 rgba(0, 0, 0, 0.08);

  .card-team-info {
    position: relative;

    .card-team-member-title {
      font-size: 12px;
      font-weight: 600;
      margin: 20px 0 8px;
      color: #696e6f;
    }

    .card-team-member-text {
      font-size: 13px;
      font-weight: 600;
      color: #dce3e6;
      margin-bottom: 40px;
    }

    .card-team-title {
      font-weight: 600;
      margin-bottom: 10px;
      color: #0c0d0d;
      font-size: 16px;
    }
  }

  .card-team-actions {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;

    a {
      font-size: 16px;
      font-weight: 600;
      color: #696e6f;
      margin-left: 16px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .card-team {
    width: 100%;
  }
}

.card-team-empty {
  background-color: #eaf0f2;
  border: 2px dashed #dce3e6;
  text-align: center;
  cursor: pointer;
  box-shadow: none;

  &:hover {
    background-color: #eaf0f2;
  }

  .add-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .add-cta-icon {
      font-size: 36px;
    }
  }

  &.card-team-empty-maximum-reached {
    cursor: default;

    &:hover {
      background-color: transparent;
    }

    .add-cta {
      color: #696e6f;
    }

    .add-cta-icon {
      color: #dce3e6;
    }
  }
}
