.modal-tabs .modal-body > {
  .scrollable-tabs {
    background-color: #fff;
    margin: 0 -30px;
  }

  .tab-content {
    margin: 0 -30px;
  }

  .scrollable-tabs {
    position: absolute;
    width: calc(100% - 2px);
    z-index: 10;

    .tabs {
      margin: 0 !important;
    }
  }

  .tab-content {
    margin-top: 41px;
  }
}
