.modal-table {
  .modal-body {
    padding: 0;
  }

  .modal-table-filter {
    height: 50px;
    width: 100%;
    line-height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 30px;

    .vertical-divider {
      display: inline-block;
      width: 1px;
      height: 100%;
      border-right: 1px solid #dce3e6;
      vertical-align: bottom;
      margin: 0 15px 0 25px;
    }
  }

  .modal-table-option-filter {
    width: 150px;
    margin-right: 25px;
  }

  .modal-table-search {
    display: inline-block;
    width: 200px !important;
  }

  .modal-table-selected-count {
    display: inline;
    color: #0d94f6;
    font-size: 13px;
  }

  .list-page-table {
    margin-top: 50px;
    height: 250px;
    position: relative;
    overflow: hidden;

    &.h-auto {
      height: calc(100% - 50px) !important;
    }

    .datagrid-table-row {
      cursor: default;
    }

    .checkbox-label {
      margin-top: 0;
    }
  }

  .list-page-empty-content .empty-icon {
    display: none;
  }

  .list-page-loading-popup {
    display: block;
    left: 10px;
    bottom: 10px;
    position: absolute;
    z-index: 1;
  }

  .list-page-table {
    .form-group {
      padding-top: 10px;
    }

    input {
      &[type='text'],
      &[type='password'],
      &[type='email'],
      &[type='url'],
      &[type='number'],
      &[type='tel'],
      &[type='date'] {
        border-color: #fff;
      }
    }

    .input-text,
    textarea,
    select,
    .dropdown {
      border-color: #fff;
    }
  }

  .row-actions {
    width: 20px;

    .icon {
      position: relative;
      font-size: 20px;
      color: #696e6f;
      cursor: pointer;

      &:hover {
        color: #0c0d0d;
      }
    }
  }

  .delete-row-confirm {
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19), 0 1px 6px rgba(0, 0, 0, 0.12);
    border: 1px solid #dce3e6;
    color: #0c0d0d;
    font-size: 12px;
    padding: 15px;
    position: absolute;
    left: 0;
    top: 30px;
    width: 200px;
    z-index: 1;

    .content {
      margin-bottom: 15px;
      white-space: normal;
    }

    .carrot {
      border-bottom: 6px solid #bfbfbf;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      color: red;
      position: absolute;
      left: 4px;
      top: -6px;
      z-index: 2;
    }
  }
}
