.bulk-edit-drawer-loading-icon {
  fill: #5269de;
  margin: auto;
  opacity: 1;
  width: 42px;
  height: 42px;
  -webkit-transition: opacity 0.3s cubic-bezier(0.55, 0, 0, 1);
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0, 1);
}

.bulk-edit-drawer-loading-text {
  text-align: center;
}

.bulk-edit-drawer-header {
  color: #0c0d0d;
  line-height: 64px;
  height: 100px;
}

.bulk-edit-drawer-title {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  line-height: 32px;
  top: 25px;
  left: 25px;
  overflow: hidden;
}

.bulk-edit-drawer-content,
.bulk-edit-drawer-footer {
  position: absolute;
  right: 0;
  bottom: 0;
}

.bulk-edit-drawer-content {
  left: 0;
  overflow-y: auto;
  display: flex;
  top: 140px;
}

.bulk-edit-drawer-dot {
  color: #07a661;
  margin-left: 5px;
  font-size: 8px;
}

.bulk-edit-drawer-footer {
  border-top: 1px solid #dce3e6;
  height: 56px;
  left: 0;
  text-align: center;

  > .btn {
    height: 56px;
    margin: 0;
    border-radius: 0;
    float: left;

    &:first-child {
      border-radius: 0 0  0 16px;

      &:nth-last-child(1) {
        width: 100%;
      }

      &:nth-last-child(2),
      &:nth-last-child(2) ~ .btn {
        width: 50%;
      }
    }
  }
}

.bulk-edit-drawer-wrapper {
  height: 100%;
}

.bulk-edit-drawer-form {
  color: #0c0d0d;
  font-size: 13px;
  line-height: 24px;
  padding: 25px 25px 85px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  overflow-y: auto;
  height: calc(100% - 120px);
}

.bulk-edit-drawer-fields {
  display: none;
  padding-bottom: 85px;
}
