.drawer-frame {
  bottom: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.12) !important;
  position: fixed;
  top: 60px;
  background-color: #fff;
  right: 0;
  z-index: 3;
  -ms-transform: translatex(100%);
  -webkit-transform: translatex(100%);
  transform: translatex(100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0, 1) 0.2s;
  transition: transform 0.5s cubic-bezier(0.55, 0, 0, 1) 0.2s;

  &.fix-top {
    top: 108px;
  }

  &.show {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0, 1) 0.2s;
    transition: transform 0.5s cubic-bezier(0.55, 0, 0, 1) 0.2s;
  }

  &.drawer-frame-list {
    height: auto;
    margin-top: 0;
    width: 360px;
  }

  &.drawer-frame-profile {
    height: auto;
    min-width: 300px;
    width: calc((100% - 60px) * 0.25);
  }

  &.drawer-frame-reports {
    height: auto;
    width: 360px;
  }
}

@media (max-width: 375px) {
  .drawer-frame.drawer-frame-list {
    width: 100% !important;
  }
}

.has-navigation .drawer-frame {
  top: 108px;
}
