.entity-profile-frame-header-actions-box:after, .entity-profile-frame-title-box:after {
  content: '';
  clear: both;
}

.entity-profile-frame {
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);

  &.is-complete .entity-profile-frame-title {
    text-decoration: line-through;
  }
}

.entity-profile-frame-header-box {
  color: #fff;
  flex: 0 0 auto;
  height: 160px;
  padding: 0 10px;
  position: relative;
}

.entity-profile-frame-header-actions-box {
  height: 54px;
  width: 100%;
  position: relative;

  .entity-profile-frame-header-left-actions, .entity-profile-frame-header-right-actions {
    display: flex;
    height: 100%;
    align-items: center;
    color: #888;
  }
}

.entity-profile-frame-header-action-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  vertical-align: top;
  height: 36px;
  width: 36px;

  .zmdi-star {
    color: #f4b400;
  }

  &:hover {
    color: #363636;
  }

  .button-icon {
    font-size: 24px;
    height: 36px;
    align-items: center;

    > {
      .on, .off {
        display: none !important;
      }
    }

    &.is-active > .on, &:not(.is-active) > .off {
      display: block !important;
    }
  }
}

.entity-profile-frame-header-left-actions {
  float: left;
  color: #b3b3b3;
}

.entity-profile-frame-header-right-actions {
  float: right;
  color: #b3b3b3;
}

.entity-profile-frame-title-box {
  height: 58px;
  display: flex;
  align-items: center;
}

.entity-profile-frame-title-icon {
  height: 50px;
  width: 50px;
  margin: 0 10px 0 15px;
  position: relative;
  display: flex;
}

.entity-profile-frame-title-box-text {
  display: flex;
  flex-flow: column nowrap;
  width: calc(100% - 75px);
}

.entity-profile-frame-title, .entity-profile-frame-subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entity-profile-frame-title {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.entity-profile-frame-subtitle {
  color: #363636;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;

  span + span:not(:empty):before {
    content: ' | ';
    padding: 0 5px;
  }
}

.entity-profile-frame-complete-toggle {
  cursor: pointer;
  float: left;
  font-size: 28px;
  margin-right: 15px;
  text-align: center;
  width: 60px;
  padding-left: 10px;
}

.entity-profile-frame-tab-box {
  bottom: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0;
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e9e9e9;
}

.entity-profile-frame-tab {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 33%;
  color: #888;
  margin-bottom: -1px;

  &.active {
    box-shadow: inset 0 -4px 0 #fdd835;
    color: #363636;
  }

  &:hover {
    color: #424242;
  }
}

.entity-profile-frame-content-box {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  flex-flow: column nowrap;
  overflow: hidden;
}

.entity-profile-frame-details {
  color: #363636;
  font-size: 13px;
  line-height: 24px;
  padding: 25px 25px 85px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  overflow-y: auto;
}

.entity-profile-frame {
  &.entity-profile-frame-preview {
    width: 360px;
  }

  &:not(.entity-profile-frame-preview) {
    .entity-profile-frame-header-box {
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row-reverse nowrap;
      border-bottom: 1px solid #e9e9e9;
    }

    .entity-profile-frame-header-actions-box {
      width: 82px;
    }

    .entity-profile-frame-header-left-actions {
      order: 2;
    }

    .entity-profile-frame-header-right-actions {
      order: 1;
    }

    .entity-profile-frame-title-box-container {
      width: calc(100% - 82px);
    }
  }
}

@media (max-width: 767.98px) {
  .entity-profile-frame:not(.entity-profile-frame-preview) .entity-profile-frame-header-box {
    padding-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .entity-profile-frame:not(.entity-profile-frame-preview) .profile-image-component-circle {
    transition: width .3s,height .3s;
    align-self: center;
  }
}

@media (max-width: 1199.98px) {
  .entity-profile-frame:not(.entity-profile-frame-preview) {
    .profile-image-component-initials {
      font-size: 14px;
    }

    .profile-image-component-circle {
      height: 36px;
      width: 36px;
      transition: width .3s,height .3s;
      align-self: center;
    }

    .entity-profile-frame-title {
      font-size: 16px;
      line-height: 22px;
    }

    .entity-profile-frame-title-icon {
      width: 36px;
    }

    .entity-profile-frame-title-box-text {
      width: calc(100% - 61px);
    }
  }
}

.entity-profile-frame-tabs {
  &.entity-profile-frame:not(.entity-profile-frame-preview) .entity-profile-frame-header-box {
    height: 57px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #d5d8d8;
  }

  .entity-profile-frame-tab-box {
    top: 12px;
    width: calc(100% - 100px);
    border: none;
  }

  .tab-content {
    height: calc(100% - 57px) !important;
  }

  .entity-list:not(.is-table), .entity-details {
    padding-bottom: 60px;
  }
}

@media (max-width: 767.98px) {
  .entity-profile-frame-tabs.entity-profile-frame:not(.entity-profile-frame-preview) .entity-profile-frame-header-actions-box {
    top: 20px;
  }
}
