.calendar {
  background: #fff;
  padding: 10px 0;
  position: relative;

  table {
    border-spacing: 0;
  }

  > .ui-datepicker {
    background: 0 0;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: auto;

    .ui-datepicker-header {
      background: 0 0;
      border: none;
      border-radius: 0;
      margin: 0;
      padding: 0;
      position: relative;
      color: #0c0d0d;
      font-size: 13px;
      font-weight: 500;
      text-align: center;
    }

    .ui-datepicker-title {
      border: none;
      border-radius: 0;
      margin: 0;
      padding: 0;
      height: 30px;
      line-height: 30px;
      left: 0;
      width: 100%;
      right: 0;
      top: 0;
      background: #fff;

      > .ui-datepicker-month {
        color: #0c0d0d;
      }

      select {
        width: auto;
      }
    }

    .ui-datepicker-next,
    .ui-datepicker-prev {
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s;
      background: 0 0;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-family: 'Material-Design-Iconic-Font';
      font-size: 24px;
      height: 30px;
      line-height: 30px;
      position: absolute;
      width: 32px;
      top: 0;

      &:hover {
        text-decoration: none;
      }
    }

    .ui-datepicker-next .ui-icon,
    .ui-datepicker-prev .ui-icon {
      display: none;
    }

    .ui-datepicker-next:active {
      background: #dce3e6;
      outline: 0;
    }

    .ui-datepicker-prev {
      &:active {
        background: #dce3e6;
        outline: 0;
      }

      left: 10px;

      &:after {
        color: #696e6f;
        content: '\f2fa';
      }
    }

    .ui-datepicker-next {
      right: 10px;

      &:after {
        color: #696e6f;
        content: '\f2fb';
      }
    }

    .ui-datepicker-calendar {
      margin: 6px auto 0;
      padding: 0;

      td {
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        min-width: 32px;
        padding: 0;
        text-align: center;
      }

      th {
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        min-width: 32px;
        padding: 0;
        text-align: center;
        color: #696e6f;
        font-weight: 500;
      }

      td {
        position: relative;
        color: #0c0d0d;
        font-weight: 400;
        cursor: pointer;

        span {
          position: relative;
          display: block;
          border-radius: 8px;
          color: #0c0d0d;
          background: 0 0;
          border: 1px solid transparent;
          z-index: 3;
        }

        &:not(.is-selected) span:hover {
          border-radius: 8px;
          background-color: #dce3e6;
        }

        &.is-first:before {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }

        &.is-last:before {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }

        &.is-in-range {
          &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: #dce3e6;
            z-index: 1;
          }

          &.is-from,
          &.is-to {
            border-radius: 8px;
          }

          &.is-from span,
          &.is-to span {
            color: #fff;
            font-weight: 700;
            background: #234ba5;
          }

          &.is-from {
            &.is-last:before,
            &.is-to:before {
              background: #fff;
            }
          }

          &.is-to.is-first:before {
            background: #fff;
          }

          &.is-from {
            &:before {
              width: 50%;
              left: auto;
            }

            &.is-first:before {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }

          &.is-to {
            &:before {
              width: 50%;
              right: auto;
            }

            &.is-last:before {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
        }

        &.ui-state-disabled {
          cursor: default;

          span {
            color: #dce3e6;

            &:hover {
              background: transparent;
            }
          }
        }

        &.ui-datepicker-today span {
          color: #234ba5;
          font-weight: 700;
          border-color: #696e6f;
        }

        &.is-selected span {
          border-radius: 8px;
          background: #234ba5;
          color: #fff;
          font-weight: 700;
        }

        &.ui-datepicker-other-month span {
          display: none;
        }
      }
    }
  }
}
