.calendar {
  background: #fff;
  padding: 10px 0;
  position: relative;

  select {
    width: auto;
    color: inherit;
    border-bottom: none;
  }

  table {
    border-spacing: 0;
  }

  > .ui-datepicker {
    background: 0 0;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: auto;

    .ui-datepicker-header {
      background: 0 0;
      border: none;
      border-radius: 0;
      margin: 0;
      padding: 0;
      position: relative;
      color: #0c0d0d;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
    }

    .ui-datepicker-title {
      border: none;
      border-radius: 0;
      margin: 0;
      padding: 0;
      height: 30px;
      line-height: 30px;
      left: 0;
      width: 100%;
      right: 0;
      top: 0;
      background: #fff;

      > .ui-datepicker-month {
        color: #0c0d0d;
      }

      select {
        width: auto;
      }
    }

    .ui-datepicker-next,
    .ui-datepicker-prev {
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s;
      background: 0 0;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-family: 'Ledger';
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      position: absolute;
      width: 32px;
      top: 0;

      &:hover {
        text-decoration: none;
      }
    }

    .ui-datepicker-next .ui-icon,
    .ui-datepicker-prev .ui-icon {
      display: none;
    }

    .ui-datepicker-next:active {
      background: #dce3e6;
      outline: 0;
    }

    .ui-datepicker-prev {
      &:active {
        background: #dce3e6;
        outline: 0;
      }

      left: 10px;

      &:after {
        color: #696e6f;
        content: '\e912'; // ledger-icon-chevron-left
      }
    }

    .ui-datepicker-next {
      right: 10px;

      &:after {
        color: #696e6f;
        content: '\e914'; // ledger-icon-chevron-right
      }
    }

    .ui-datepicker-calendar {
      margin: 6px auto 0;
      padding: 0;

      td {
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        min-width: 32px;
        padding: 0;
        text-align: center;
      }

      th {
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        min-width: 32px;
        padding: 0;
        text-align: center;
        color: #7c7c7c;
        font-weight: 500;
      }

      td {
        position: relative;
        color: #0c0d0d;
        font-weight: 400;
        cursor: pointer;

        span {
          position: relative;
          display: block;
          border-radius: 8px;
          color: #0c0d0d;
          background: 0 0;
          border: 1px solid transparent;
          z-index: 3;
        }

        &:not(.is-selected) span:hover {
          border-radius: 8px;
          background-color: #e9f2ff;
        }

        &.is-in-range {
          &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.06);
            color: #0f9dda;
            z-index: 1;
          }

          &.is-from,
          &.is-to {
            border-radius: 8px;
          }

          &.is-from span,
          &.is-to span {
            color: #fff;
            font-weight: 700;
            background: #569aff;
            border-radius: 8px;
          }

          &.is-from {
            &.is-last:before,
            &.is-to:before {
              background: #fff;
            }
          }

          &.is-to.is-first:before {
            background: #fff;
          }

          &.is-from:before {
            width: 50%;
            left: auto;
          }

          &.is-to:before {
            width: 50%;
            right: auto;
          }
        }

        &.ui-state-disabled {
          cursor: default;

          span {
            color: #c8c8c8;

            &:hover {
              background: transparent;
            }
          }
        }

        &.ui-datepicker-other-month span {
          color: #c8c8c8;
        }

        &.ui-datepicker-today span {
          color: #0c0d0d;
          font-weight: 700;
          border-color: rgba(0, 0, 0, 0.1);
        }

        &.is-selected {
          &.is-from:not(.is-to) span {
            border-radius: 8px 0 0 8px;
          }

          &.is-to:not(.is-from) span {
            border-radius: 0 8px 8px 0;
          }

          span {
            background: #569aff;
            color: #fff;
            font-weight: 700;
          }
        }
      }
    }
  }
}
