.option-list {
  background-color: #fff;
  color: #0c0d0d;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding: 8px 0;

  &.overflow-visible {
    overflow: visible;
  }
}

.option-list-item {
  overflow: hidden;
  cursor: pointer;
  line-height: 20px;
  padding: 10px 20px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 400;

  &.option-list-item-has-overflow {
    overflow: visible;
  }

  &.is-highlighted {
    background-color: #dce3e6;
  }

  &.is-selected {
    color: #2b41b2;
  }

  &.is-disabled {
    color: #dce3e6;
    background-color: #fff;

    &.is-highlighted {
      color: #dce3e6;
    }
  }

  a:hover {
    text-decoration: none;
  }
}

.option-list-item-icon {
  color: #696e6f;
  font-size: 22px !important;
  vertical-align: top;
  margin-right: 15px;
}

.option-list-item-text {
  color: inherit;
}

.option-list-item.option-list-item-detailed {
  min-height: 59px;
  padding-left: 65px;
  position: relative;

  &.has-disabled-interaction {
    cursor: default;
  }

  .highlight-matched-text .highlighted {
    color: #5269de;
  }
}

.option-list-item-title {
  font-weight: 500;
  font-size: 13px;
  color: #0c0d0d;
}

.option-list-item-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option-list-item-subtext {
  color: #696e6f;
  font-size: 12px;
}

.option-list-info-item-text {
  margin-left: 15px;
  display: inline-block;
}

.option-list-info-item-abbreviation {
  color: #696e6f;
  width: 35px;
  display: inline-block;
}

.option-list-item-link {
  color: #5269de;
  font-size: 12px;
  float: right;
}

.option-list-item-overlay {
  bottom: 0;
  height: 30px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.option-list-item-help-text {
  color: #696e6f;
  font-size: 11px;
  white-space: normal;
  line-height: 13px;
}

.option-list-item-disabled {
  color: #dce3e6;
}

.option-list-item-right-content {
  display: inline-block;
  float: right;
  font-size: 18px;
  font-weight: 400;
  height: 20px;
}

.option-list-item {
  &.option-list-item-active,
  &.option-list-item-create {
    font-weight: 500;
  }
}

.option-list-item-right-content .zmdi-icon {
  color: #696e6f;

  &:hover {
    color: #696e6f;
  }

  &.zmdi-lock,
  &.md-lock:hover {
    color: #dce3e6;
  }
}

.option-list-item .zmdi-star {
  color: #f2bf58;
}

.option-list-item-hover-content {
  display: none;
}

.option-list-item {
  &:hover .option-list-item-hover-content {
    display: inline-block;
  }

  &.option-list-item-action-button {
    color: #2b41b2;
    cursor: pointer;
  }

  &.option-list-item-divider {
    border-top: 1px solid #dce3e6;
  }

  &.option-list-filter {
    display: flex;
    flex-wrap: nowrap;

    .option-list-item-text {
      flex: 1 1 auto;
    }

    .option-list-item-right-content {
      align-self: flex-end;
      padding-left: 10px;
    }
  }
}

.option-list-label {
  color: #696e6f;
  font-size: 12px;
  font-weight: 700;
  margin-top: 5px;
  padding-left: 12px;
  line-height: 24px;

  &.option-list-label-empty {
    color: #696e6f;
    cursor: default;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 10px 20px;
    position: relative;

    .option-list-label-label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.option-list-item.option-list-filter .option-list-item-text,
.option-list-label.option-list-label-empty .option-list-label-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option-list-loading {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.option-list-loading-spinner {
  display: inline-block;
  fill: #0d94f6;
  height: 32px;
  width: 32px;
}
