.dropdown,
.dropdown-selected {
  position: relative;
  vertical-align: top;
}

.dropdown {
  border-bottom: 1px solid rgba(12, 13, 13, 0.16);
  display: inline-block;
  width: 100%;

  &:focus {
    border-color: #2b41b2;
    box-shadow: inset 0 -1px 0 #2b41b2;
    outline: 0;
  }

  &.dropdown-label {
    vertical-align: top;
    width: auto;
    border-bottom: 0;

    &:focus {
      border-bottom: 0;
      box-shadow: none;
    }

    .dropdown-selected {
      height: auto;
    }
  }

  .option-list {
    max-height: 250px;
  }

  &.dropdown-global-add-new {
    border-bottom: none;

    .option-list {
      max-height: none;
    }
  }

  &.popup-actions {
    width: 36px;

    .option-list {
      max-height: none;
    }

    color: #696e6f;
  }
}

.dropdown-placeholder {
  color: #dce3e6;
}

.dropdown-selected {
  color: #0c0d0d;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  height: 28px;
  padding-right: 16px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-selected-icon {
  color: #696e6f;
  font-size: 22px !important;
  vertical-align: top;
  margin-right: 2px;
}

.dropdown-options {
  border-radius: 8px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16);
  left: -20px;
  overflow: hidden;
  padding: 0;
  margin-bottom: 5px;
  position: absolute;
  right: -20px;
  top: -8px;
  min-width: 170px;
  z-index: 10;
}

.dropdown-indicator {
  color: #696e6f;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 0;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}

.dropdown-reset {
  color: #696e6f;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 0;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  right: 15px;
  z-index: 1;
}

.dropdown-filter {
  background-color: #fff;
  padding: 10px 20px;
}

.dropdown {
  .dropdown-filter > input {
    float: none;
    width: 100%;
  }

  &.is-disabled {
    .dropdown-selected {
      color: #696e6f;
      cursor: default;
    }

    .dropdown-indicator,
    .dropdown-selected-icon {
      display: none;
    }
  }

  &.dropdown-flat {
    width: auto;
    border-color: transparent;

    &:focus {
      border-color: transparent;
      box-shadow: none;
    }
  }

  &.dropdown-icon {
    border-bottom: none;
    display: inline-block;
    width: auto;

    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }
}

.is-invalid .dropdown {
  border-color: #b50814;
  box-shadow: inset 0 -1px 0 #b50814;
}
