.has-floating-label {
  position: relative;
  padding-bottom: 24px;

  > label {
    position: absolute;
    font-size: 14px;
    left: 0;
    top: 28px;
    transform: translateY(-50%);
    color: #8d8d8d;
    padding: 0 6px;
    margin: 0 10px;
    transition: 0.1s ease-out;
    transform-origin: left top;
    pointer-events: none;
  }

  > .form-control,
  > .input-text,
  > .dropdown {
    font-size: 14px;
    outline: none;
    background-color: #fff;
    border: 2px solid #d3d3d3;
    border-radius: 8px;
    padding: 22px 16px 10px;
    transition: 0.1s ease-out;
    height: 56px;

    &.dropdown-multiple {
      height: auto;
      min-height: 56px;

      .dropdown-tags {
        width: calc(100% - 16px);
      }

      .dropdown-tags:not(:empty) + .dropdown-selected {
        position: absolute;
        top: 10px;
        right: 16px;
        width: 6px;

        .dropdown-text {
          display: none;
        }
      }
    }

    &:hover {
      border-color: #979797;
    }

    &:focus {
      border-color: #007d99;
      box-shadow: none;

      + label {
        color: #007d99;
        top: 16px;
        left: 0;
        transform: translateY(-50%) scale(0.9);
      }
    }

    &:not(:placeholder-shown) + label {
      top: 16px;
      left: 0;
      transform: translateY(-50%) scale(0.9);
    }
  }

  &.is-invalid > label {
    color: #ea4335 !important;
  }

  &.is-invalid > .form-control,
  &.is-invalid > .input-text,
  &.is-invalid > .dropdown {
    border-color: #cb1a42;
    box-shadow: none;
    color: inherit;
  }

  &.is-disabled > .form-control,
  &.is-disabled > .input-text,
  &.is-disabled > .dropdown {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
  }

  &.has-icon {
    > i {
      position: absolute;
      top: 15px;
      left: 15px;
      font-size: 24px;
    }

    > .form-control,
    > .input-text,
    > .dropdown {
      padding-left: 50px !important;

      &:focus + label,
      &:not(:placeholder-shown) + label {
        left: 35px;
      }
    }

    > label {
      left: 35px;
    }
  }

  > .dropdown .dropdown-selected {
    padding: 0;
  }
}
