.form-wizard {
  display: table;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 10px 0;
  position: relative;
  width: 100%;
  border-radius: 5px;

  .step {
    display: table-cell;
    text-align: center;
    width: 1%;

    > div:before {
      border-top: 2px dotted #f0f0f0;
      content: '';
      display: block;
      font-size: 0;
      height: 1px;
      overflow: hidden;
      position: relative;
      top: 21px;
      width: 100%;
    }

    &:first-child > div:before {
      left: 50%;
      max-width: 51%;
    }

    &:last-child > div:before {
      max-width: 50%;
      width: 50%;
    }

    > div {
      &.selected:before,
      &.done:before {
        border-color: #1350aa;
      }

      &.done:before {
        border-style: solid;
        border-width: 1px;
      }
    }
  }

  .step-number {
    background-color: #f0f0f0;
    border: 2px solid #f0f0f0;
    border-radius: 100% 100% 100% 100%;
    color: rgba(0, 0, 0, 0.32);
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 32px;
    line-height: 30px;
    position: relative;
    text-align: center;
    width: 32px;
  }

  .step {
    > div {
      &.selected .step-number {
        background-color: #fff;
        border-color: #1350aa;
        color: #1350aa;
      }

      &.done .step-number {
        border-color: #1350aa;
        background-color: #1350aa;
        color: #fff;
        text-indent: -9999px;
      }
    }

    > div.done {
      .step-number:before {
        content: '\f26b';
        display: inline;
        float: right;
        font-family: 'Material-Design-Iconic-Font';
        font-weight: 300;
        height: auto;
        text-shadow: none;
        margin-right: 7px;
        text-indent: 0;
      }

      &.wait .step-number {
        background-color: #f6f6f6 !important;
        color: #dce3e6 !important;
        text-indent: -0px !important;

        &:before {
          content: '' !important;
        }
      }
    }

    .step-desc {
      color: #f0f0f0;
      display: block;
      font-size: 12px;
      font-weight: 600;
      margin-top: 4px;
      max-width: 100%;
      table-layout: fixed;
      text-align: center;
      word-wrap: break-word;
    }

    > div {
      &.selected .step-desc,
      &.done .step-desc {
        color: #1350aa;
      }

      &:hover {
        text-decoration: none;
      }

      &.disabled {
        cursor: default;
      }
    }
  }
}
