.form-upload {
  margin-bottom: 50px;
}

.form-upload-picture {
  float: left;
  margin: 0 24px 24px 0;
  border-radius: 8px;
  display: inline-block;
  height: 80px;
  overflow: hidden;
  position: relative;
  vertical-align: bottom;
  width: 80px;

  img {
    width: 100%;
    height: 100%;
  }
}

.form-upload-picture-empty {
  border-radius: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ccc;
  color: #fff;
  cursor: default;
  font-size: 50px;
  height: 80px;
  line-height: 80px;
  width: 80px;
  align-items: center;
  justify-content: center;
}

.form-upload-controls {
  display: inline-block;
  vertical-align: bottom;
}

.form-upload.large-picture {
  .form-upload-picture,
  .form-upload-picture-empty {
    height: 160px;
    width: 160px;
  }

  .form-upload-controls {
    margin-top: 40px;
  }
}

@media (max-width: 575.98px) {
  .form-upload.large-picture {
    .form-upload-picture,
    .form-upload-picture-empty {
      height: 80px;
      width: 80px;
    }

    .form-upload-controls {
      margin-top: 0;
    }
  }

  .form-upload-controls {
    display: block;
    margin: 10px 0;
  }
}

.form-upload-loading-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.form-upload-loading-icon {
  bottom: 0;
  fill: #fff;
  height: 32px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
}

.form-upload-instruction {
  display: block;
  font-size: 13px;
}

.form-upload-remove-picture {
  float: right;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.38);
  cursor: pointer;
  margin-left: 24px;
}

.form-upload-picture-loaded,
.form-upload-picture-empty,
.form-upload-loading-overlay,
.form-upload-remove-picture {
  display: none;
}

.form-upload {
  &.is-empty .form-upload-picture-empty,
  &.is-uploading .form-upload-loading-overlay {
    display: flex;
  }

  &.is-photo-loaded {
    .form-upload-picture-loaded,
    .form-upload-remove-picture {
      display: block;
    }
  }
}
