.icon-selector-component-option {
  cursor: pointer;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 10px 36px 10px 0;

  .checked,
  .unchecked {
    display: none !important;
  }

  .checkbox-display,
  .radio-button {
    color: #0c0d0d;
  }

  .checkbox-input:checked + .checkbox-display,
  .radio-input:checked + .radio-button {
    color: #0d94f6;
  }

  .ledger-icons,
  .zmdi {
    font-size: 25px;
  }
}
