.password-input {
  position: relative;

  .checkbox {
    position: absolute;
    top: 7px;
    right: 5px;
  }

  .checkbox-input {
    display: none;
  }
}

.has-floating-label .password-input .checkbox {
  top: 18px;
  right: 10px;
}
