.radio-input {
  display: none;
}

.radio-button {
  color: #888;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin: 0;
  font-size: inherit;

  > {
    i {
      float: left;
      position: relative;
      top: 1px;
      white-space: pre;
    }

    span {
      display: block;
      overflow: hidden;
      word-wrap: break-word;
    }
  }

  &.radio-button-inline {
    display: inline-block;

    > {
      i {
        float: none;
        white-space: normal;
      }

      span {
        display: inline;
      }
    }
  }

  .checked {
    display: none;
  }

  &.is-checked {
    color: #363636;
    font-weight: 700;
  }
}

.radio-input:checked + .radio-button {
  color: #363636;
  font-weight: 700;
}

.radio-button.is-checked > i,
.radio-input:checked + .radio-button > i {
  color: #0d94f6;
}

.radio-button.is-checked .checked,
.radio-input:checked + .radio-button .checked {
  display: inline-block;
}

.radio-button.is-checked .unchecked,
.radio-input:checked + .radio-button .unchecked {
  display: none;
}

.radio-button.is-disabled {
  color: #ccc;

  > i {
    color: #ccc;
  }
}

.radio-button-group {
  font-size: 13px;

  .form-group {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .form-text {
    margin: 0;

    .indent {
      margin-left: 15px;
    }
  }
}

.radio-button-group-item {
  vertical-align: middle;
}

.radio-button-group .form-group {
  &.is-inline {
    display: inline-block;

    + .form-group {
      margin-left: 10px;
    }
  }

  &.is-multiline {
    display: block;

    + .form-group {
      margin-left: 0;
    }
  }
}
