.range-select {
  display: flex;
  padding: 8px;
  white-space: nowrap;

  .range-select-content {
    padding-bottom: 10px;

    > div {
      &.to-date-selector {
        margin: 5px 8px;
      }
    }
  }

  &:after {
    clear: both;
  }

  .value-range-apply {
    margin: 10px 15px 0 0;
  }

  .range-select-range-field {
    font-size: 12px;
    color: #696e6f;
    font-weight: 400;
    margin-top: 24px;
  }
}

.range-select-date-range {
  flex-direction: column;

  .filter-calendar {
    display: none;
    margin: 5px;
  }

  .filter-calendar-button-panel {
    margin: 5px;
    width: 240px;
    position: relative;

    ul {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      height: 250px;

      > li {
        display: flex;
        flex: none;
        margin: 0 4px;
      }
    }

    .btn {
      height: 28px;
      font-size: 11px;
      line-height: 12px;
      box-shadow: none;
    }
  }

  .range-select-content {
    display: flex;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .range-select-date-range .filter-calendar-button-panel {
    width: 120px;

    ul {
      flex-flow: column;
      overflow-y: auto;

      > li {
        margin: 4px;
      }
    }
  }
}

.show-calendar {
  .range-select-date-range .filter-calendar {
    display: block;
  }
}

.single {
  .range-select-date-range {
    .filter-calendar.to-date-selector,
    .filter-calendar-button-panel {
      display: none;
    }
  }

  .range-select {
    .range-select-range-field {
      display: none;
    }

    .range-select-content > div > .calendar {
      border: none;
    }
  }
}

.range-select-tags-range {
  .tag-collection {
    height: 100px;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 15px;
    margin-top: 10px;

    > .tag {
      display: block;
    }
  }
}

@media (max-width: 991.98px) {
  .range-select-date-range {
    .range-select-content {
      flex-direction: column;
    }

    .filter-calendar-button-panel {
      order: 0;
      display: flex;
      justify-content: center;
    }

    .filter-calendar {
      &.from-date-selector {
        order: 1;
      }

      &.to-date-selector {
        order: 2;
      }

      > .calendar {
        display: none;
      }
    }
  }
}
