.range-select-container {
  background-color: #fff;
  border: 1px solid #dce3e6;
  border-radius: 8px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16);
  margin-right: 12px;
  position: absolute;
  left: 0;
  top: 0;
  transform: none;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  display: none;
  z-index: 9999;

  &:not(.has-nub) {
    &:before,
    &:after {
      position: absolute;
      display: inline-block;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }

    &:before {
      top: -7px;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      border-bottom: 7px solid #dce3e6;
    }

    &:after {
      top: -6px;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #fff;
      border-left: 6px solid transparent;
    }

    &.opens-left {
      &:before {
        right: 9px;
      }

      &:after {
        right: 10px;
      }
    }

    &.opens-center {
      &:before,
      &:after {
        left: 0;
        right: 0;
        width: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &.opens-right {
      &:before {
        left: 9px;
      }

      &:after {
        left: 10px;
      }
    }

    &.drop-up {
      margin-top: -5px;

      &:before {
        top: initial;
        bottom: -7px;
        border-bottom: initial;
        border-top: 7px solid #dce3e6;
      }

      &:after {
        top: initial;
        bottom: -6px;
        border-bottom: initial;
        border-top: 6px solid #fff;
      }
    }
  }

  &.has-nub .range-select-nub {
    margin: 0;
    position: absolute;
    left: 100%;
    top: 0;

    &:after,
    &:before {
      content: '';
      height: 0;
      left: 0;
      position: absolute;
      width: 0;
    }

    &:after {
      border: 10px solid transparent;
      border-bottom-width: 5px;
      border-top-width: 5px;
      border-left-color: #fff;
      top: -5px;
    }

    &:before {
      border: 12px solid transparent;
      border-bottom-width: 6px;
      border-top-width: 6px;
      border-left-color: #dce3e6;
      top: -6px;
    }
  }
}

@media (max-width: 991.98px) {
  .range-select-container {
    position: relative;
    margin: 0 -30px;
    padding: 0 30px;
    border: none;
    box-shadow: none;

    &:not(.has-nub) {
      &:before,
      &:after {
        border: none;
      }
    }
  }
}

.range-select {
  display: flex;
  padding: 8px;
  white-space: nowrap;

  .range-select-content {
    padding-bottom: 10px;

    > div {
      &.to-date-selector {
        margin: 5px 8px;
      }
    }
  }

  &:after {
    clear: both;
  }

  .range-select-range-field {
    font-size: 12px;
    color: #696e6f;
    font-weight: 400;
    margin-top: 24px;

    .has-floating-label {
      padding: 0;

      select {
        position: absolute;
        right: 16px;
        border-bottom: none;
        width: auto;
        height: 56px;
        min-height: 56px;
        padding: 22px 16px 10px;
        color: #696e6f;

        &[disabled], option[disabled] {
          color: #c8c8c8;
        }
      }
    }
  }
}

.range-select-date-range {
  flex-direction: column;

  .filter-calendar {
    margin: 5px;
  }

  .filter-calendar-button-panel {
    margin: 5px;
    width: 240px;
    position: relative;

    ul {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      height: 250px;

      > li {
        display: flex;
        flex: none;
        margin: 0 4px;
      }
    }

    .btn {
      width: 100%;
      height: 31px;
      font-size: 11px;
      line-height: 12px;
      box-shadow: none;
    }
  }

  .range-select-content {
    display: flex;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .range-select-date-range .filter-calendar-button-panel {
    width: 120px;

    ul {
      flex-flow: column;
      overflow-y: auto;

      > li {
        margin: 4px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .range-select-date-range {
    .range-select-content {
      flex-direction: column;
    }

    .filter-calendar-button-panel {
      order: 0;
      margin: 0 auto;
    }

    .filter-calendar {
      &.from-date-selector {
        order: 1;
      }

      &.to-date-selector {
        order: 2;
      }

      > .calendar {
        display: none;
      }
    }
  }
}

.range-select-footer {
  height: 60px;
  border-top: 1px solid #dce3e6 !important;
  padding: 0 16px !important;

  .value-range-apply {
    margin: 10px 15px 0 0;
  }

  .range-select-button-section {
    margin: 10px 0 5px;
    align-items: center;
    display: flex;
    justify-content: flex-end;

    .btn {
      float: right;
      margin: 0 5px;
    }
  }
}

.show-calendar {
  &.modal-calendar {
    .modal-dialog {
      max-width: 750px;
    }

    .modal-body {
      padding: 0;
    }
  }

  .range-select-date-range .filter-calendar {
    display: block;
  }
}

.show.modal-tags .modal-body {
  padding-bottom: 0;
}

.range-select-tags-range {
  display: block;

  .tag-collection {
    height: 100px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 16px;

    > .tag {
      display: block;
    }
  }
}

.single {
  .range-select .range-select-content > div > .calendar {
    border: none;
  }
}
