.task-check-box {
  .task-check-box-container {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    overflow: hidden;
    font-size: 25px;
    color: #dce3e6;
    outline: 0;

    .task-check-box-activity-icon,
    .task-check-box-checkbox {
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    .task-check-box-activity-icon > i,
    .task-check-box-checkbox > i {
      flex: 1;
      text-align: center;
      display: inline-block;
      font-size: inherit;
      font-weight: 400;
      cursor: pointer;
    }

    &:not(.is-completed) .task-check-box-activity-icon > i::before {
      content: '\e90b'; // ledger-icon-circle-o
    }

    .task-check-box-activity-icon {
      display: inline-flex;
      width: 100%;
    }

    .task-check-box-checkbox {
      display: none;
      width: 200%;
      transition: transform 0.15s ease-in-out, background 0.15s ease-in-out;
      transform: translateX(0);
      font-size: 24px;
    }

    &:hover {
      color: #2b41b2;

      .task-check-box-activity-icon {
        display: none;
      }

      .task-check-box-checkbox {
        display: inline-flex;
      }
    }

    &.is-completed {
      color: #20d486;

      .task-check-box-checkbox {
        color: #20d486;
        transform: translateX(-50%);
      }

      &:hover {
        color: #dce3e6;
      }
    }

    &.is-loading {
      color: #eaf0f2;
    }
  }

  &.task-check-box-small .task-check-box-container {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 24px;
  }
}
