.button.button-raised:hover,
.raised-button:hover {
  text-decoration: none;
}

.button,
.flat-button,
.icon-button,
.raised-button,
.selectable-button,
.toggle-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  text-transform: uppercase;
  text-align: center;
}

.button:disabled,
.flat-button:disabled,
.icon-button:disabled,
.raised-button:disabled,
.selectable-button:disabled,
.toggle-button:disabled {
  cursor: default;
}

.button.button-flat,
.button.button-raised,
.button.button-toggle,
.flat-button,
.raised-button,
.selectable-button,
.toggle-button {
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  padding: 5px 18px;
}

.button.button-raised,
.raised-button {
  -webkit-transition: box-shadow .1s;
  transition: box-shadow .1s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.button.button-raised:active,
.raised-button:active {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}

.button.button-raised:active.disabled,
.raised-button:active.disabled {
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.button.button-flat,
.flat-button {
  background: 0 0;
  box-shadow: none;
  color: #888;
}

.button.button-flat:active,
.flat-button:active {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}

.button.button-flat:active.disabled,
.flat-button:active.disabled {
  box-shadow: none;
}

.button.button-flat:focus,
.flat-button:focus {
  background-color: #e9e9e9;
}

.button.button-icon,
.icon-button {
  border-radius: 50%;
  font-weight: 400;
  padding: 6px;
  height: 36px;
  width: 36px;
  text-align: center;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.button.button-icon:active,
.icon-button:active {
  background-color: rgba(0,0,0,0.2);
}

.button.button-toggle,
.toggle-button {
  border: 1px solid transparent;
  border-radius: 2px;
  font-weight: 400;
  padding: 6px;
  margin: 0 2px;
  font-size: 24px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.button.button-toggle.disabled,
.toggle-button.disabled {
  color: rgba(0,0,0,0.1);
}

.button.button-toggle.active,
.button.button-toggle:active,
.toggle-button.active,
.toggle-button:active {
  border-color: #ccc;
  background-color: rgba(0,0,0,0.1);
  box-shadow: inset 0 0 1px #ababaa;
}

.button.button-toggle:hover,
.toggle-button:hover {
  background-color: rgba(0,0,0,0.05);
  border: 1px solid #ccc;
}

.selectable-button {
  border: 1px solid #3D4DB7;
  background: #fff;
  font-weight: default;
  color: #3D4DB7;
}

.selectable-button.is-selected {
  background: #3D4DB7;
  color: #fff;
}

.button.button-with-icon {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.button.button-with-icon i.zmdi-icon {
  padding-right: 7px;
}

.button.button-raised-primary,
.raised-button.raised-button-primary {
  background-color: #0D94F6;
  color: #fff;
}

.button.button-raised-primary:focus,
.button.button-raised-primary:hover,
.raised-button.raised-button-primary:focus,
.raised-button.raised-button-primary:hover {
  background-color: #1266f1;
}

.button.button-raised-primary.disabled,
.button.button-raised-primary:disabled,
.raised-button.raised-button-primary.disabled,
.raised-button.raised-button-primary:disabled {
  background-color: #888;
  cursor: default;
}

.button.button-raised-primary.disabled-light,
.raised-button.raised-button-primary.disabled-light {
  background-color: #ccc;
}

.button.button-raised-default,
.raised-button.raised-button-default {
  background-color: #fff;
  color: #363636;
}

.button.button-raised-default:focus,
.button.button-raised-default:hover,
.raised-button.raised-button-default:focus,
.raised-button.raised-button-default:hover {
  background-color: #f9f9f9;
}

.button.button-raised-default.disabled,
.button.button-raised-default:disabled,
.raised-button.raised-button-default.disabled,
.raised-button.raised-button-default:disabled {
  background-color: #f9f9f9;
  color: #ccc;
}

.button.button-raised-danger,
.raised-button.raised-button-danger {
  background-color: #db4437;
  color: #fff;
}

.button.button-raised-danger:focus,
.button.button-raised-danger:hover,
.raised-button.raised-button-danger:focus,
.raised-button.raised-button-danger:hover {
  background-color: #bd2e22;
}

.button.button-raised-success,
.raised-button.raised-button-success {
  background-color: #49B04B;
  color: #fff;
}

.button.button-raised-success:focus,
.button.button-raised-success:hover,
.raised-button.raised-button-success:focus,
.raised-button.raised-button-success:hover {
  background-color: #3d933f;
}

.button.button-raised-warning,
.raised-button.raised-button-warning {
  background-color: #f4b400;
  color: #fff;
}

.button.button-raised-warning:focus,
.button.button-raised-warning:hover,
.raised-button.raised-button-warning:focus,
.raised-button.raised-button-warning:hover {
  background-color: #cb9600;
}

.button.button-raised-understated,
.raised-button.raised-button-understated {
  background-color: #888;
  color: #fff;
}

.button.button-raised-understated:focus,
.button.button-raised-understated:hover,
.raised-button.raised-button-understated:focus,
.raised-button.raised-button-understated:hover {
  background-color: #717171;
}

.button.button-raised-understated.disabled,
.button.button-raised-understated:disabled,
.raised-button.raised-button-understated.disabled,
.raised-button.raised-button-understated:disabled {
  background-color: #ccc;
}

.button.button-flat-primary,
.flat-button.flat-button-primary {
  color: #0D94F6;
}

.button.button-flat-primary.disabled,

.button.button-flat-primary:disabled,
.flat-button.flat-button-primary.disabled,
.flat-button.flat-button-primary:disabled {
  color: #ccc;
  cursor: default;
}

.button.button-flat-default,
.flat-button.flat-button-default {
  color: #888;
}

.button.button-flat-warning,
.flat-button.flat-button-warning {
  color: #db4437;
}

.button.button-flat-promo,
.flat-button.flat-button-promo {
  color: #3D4DB7;
}

.big-button,
.large-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  display: inline-block;
  margin: 0;
  font-size: 14px;
  position: relative;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
}

.basic-button {
  color: #57585a;
  border: 1px solid #ccc;
  background-color: #fff;
}

.basic-button:focus,
.basic-button:hover {
  background-color: #f2f2f2;
  border-color: #bfbfbf;
  color: #57585a;
}

.basic-button:active {
  background-color: #d9d9d9;
  border-color: #a6a6a6;
  color: #57585a;
}

.basic-button.disabled,
.basic-button[disabled] {
  opacity: .5;
  cursor: default;
  background-color: #e6e6e6;
  border-color: #b3b3b3;
  color: #57585a;
}

.basic-button.disabled:hover,
.basic-button[disabled]:hover {
  cursor: default;
}

.primary-button {
  color: #fff;
  border: 1px solid #0d47a1;
  background-color: #2196f3;
}

.primary-button:focus,
.primary-button:hover {
  background-color: #0d8aee;
  border-color: #0b3d89;
  color: #fff;
}

.primary-button:active {
  background-color: #0a6ebd;
  border-color: #07285a;
  color: #fff;
}

.primary-button.disabled,
.primary-button[disabled] {
  opacity: .5;
  cursor: default;
  background-color: #0c7cd5;
  border-color: #093272;
  color: #fff;
}

.primary-button.disabled:hover,
.primary-button[disabled]:hover {
  cursor: default;
}

.red-button {
  color: #fff;
  border: 1px solid #db4437;
  background-color: #db4437;
}

.big-button,
.blue-md-button,
.large-button {
  border-radius: 2px;
  text-align: center;
  outline: 0;
}

.red-button:focus,
.red-button:hover {
  background-color: #d33426;
  border-color: #d33426;
  color: #fff;
}

.red-button:active {
  background-color: #a7291e;
  border-color: #a7291e;
  color: #fff;
}

.red-button.disabled,
.red-button[disabled] {
  color: #fff;
  opacity: .65;
  cursor: default;
  background-color: #ccc;
  border-color: #ccc;
}

.red-button.disabled *,
.red-button.disabled:hover,
.red-button[disabled] *,
.red-button[disabled]:hover {
  cursor: default;
}

.large-button {
  height: 40px;
  padding: 12px;
  font-weight: 700;
}

.large-button:hover {
  cursor: pointer;
}

.large-button:disabled,
.large-button:disabled:hover {
  cursor: default;
}

.big-button {
  height: 30px;
  padding: 7px 12px;
}
