.card {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 1px 6px rgba(0,0,0,0.12);
  border-radius: 2px;
  position: relative;
  overflow: initial;
  display: flex;
  flex-flow: column nowrap;
}

.card-title {
  flex: 0 0 auto;
}

.card-subheader {
  color: #888;
}

.card-content {
  flex: 1 1 auto;
}

.card-content .list-spinner {
  display: block;
  position: relative;
  top: 50%;
}

@media (min-width: 768px) {
  .card-indent {
    padding: 24px;
  }
}

.card.card-scroll .card-body,
.card.card-scroll .card-content {
  height: 100%;
}

.card.card-scroll .card-content {
  margin: 0 -35px;
  padding: 35px;
  overflow-y: auto;
}

/*-------------------
    Team
--------------------*/

.card-team {
  height: 200px;
  width: 300px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 20px 20px 75px;
  text-align: left;
  vertical-align: top;
  border-radius: 2px;
  background-color: #fff;
  position: relative;
  display: inline-block;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,0.12),0 1px 6px rgba(0,0,0,0.12);
}

@media (max-width: 575.98px) {
  .card-team {
    width: 100%;
  }
}

.card-team .card-team-info {
  position: relative;
}

.card-team .card-team-info .card-team-member-title {
  font-size: 12px;
  font-weight: 600;
  margin: 20px 0 8px;
  color: #888;
}

.card-team .card-team-info .card-team-member-text {
  font-size: 13px;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 40px;
}

.card-team .card-team-info .card-team-title {
  font-weight: 600;
  margin-bottom: 10px;
  color: #363636;
  font-size: 16px;
}

.card-team .card-team-footer {
  background-color: #fff;
  border-top: 1px solid #e9e9e9;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: right;
}

.card-team-empty-group {
  border: 2px dashed #ccc;
  text-align: center;
  cursor: pointer;
  box-shadow: none;
  background-color: #f2f2f2;
}

.card-team-empty-group:hover {
  background-color: #efefef;
}

.card-team-empty-group .add-cta {
  position: absolute;
  color: #0D94F6;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 100px;
  transform: translate(-50%, -50%);
}

.card-team-empty-group .add-cta .add-cta-icon {
  font-size: 36px;
}

.card-team-empty-group .add-cta .add-cta-copy {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-team-empty-group.card-team-empty-group-maximum-reached {
  cursor: default;
}

.card-team-empty-group.card-team-empty-group-maximum-reached:hover {
  background-color: transparent;
}

.card-team-empty-group.card-team-empty-group-maximum-reached .add-cta {
  color: #888;
}

.card-team-empty-group.card-team-empty-group-maximum-reached .add-cta-icon {
  color: #ccc;
}

/*-------------------
    Stage
--------------------*/

.card-stage {
  opacity: 0.25;
}

.card-stage .stage-item[data-enabled="false"] .desc,
.card-stage .stage-item[data-enabled="false"] .time {
  opacity: 0.6;
}

.card-stage.is-active,
.card-stage.is-completed,
.card-stage .stage-item[data-enabled="true"] .desc,
.card-stage .stage-item[data-enabled="true"] .time
.card-stage .stage-item[data-completed="true"] .desc,
.card-stage .stage-item[data-completed="true"] .time {
  opacity: 1;
}

.card-stage.is-active .card-title h3 {
  font-weight: bold;
}

.card-stage.is-completed .card-title h3 {
  font-weight: normal;
}

.card-stage:not(.is-completed) .card-title .zmdi-check {
  display: none;
}
