.dropdown,
.dropdown-selected {
  position: relative;
  vertical-align: top;
}

.dropdown {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  width: 100%;
}

.dropdown:focus {
  border-color: #0D94F6;
  box-shadow: inset 0 -2px 0 #0D94F6;
  outline: 0;
}

.dropdown.dropdown-label {
  vertical-align: top;
  width: auto;
  border-bottom: 0;
}

.dropdown.dropdown-label:focus {
  border-bottom: 0;
  box-shadow: none;
}

.dropdown.dropdown-label .dropdown-selected {
  height: auto;
}

.dropdown .option-list {
  max-height: 220px;
}

.dropdown.dropdown-global-add-new .option-list,
.dropdown.popup-more-bulk-actions .option-list {
  max-height: none;
}

.dropdown.popup-more-bulk-actions {
  color: #888;
}

.dropdown-placeholder {
  color: rgba(0,0,0,.38);
  font-family: "Roboto",arial,sans-serif;
  font-weight: 300;
}

.dropdown-selected {
  color: #363636;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  height: 28px;
  padding-right: 16px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-selected-icon {
  color: #888;
  font-size: 22px !important;
  vertical-align: top;
  margin-right: 2px;
}

.dropdown-options {
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 1px 6px rgba(0,0,0,0.12);
  overflow: hidden;
  padding: 0;
  margin-bottom: 5px;
  position: absolute;
  z-index: 2;
}

.dropdown-indicator,
.dropdown-reset {
  color: #888;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 0;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}

.dropdown-reset {
  right: 15px;
  z-index: 1;
}

.dropdown-filter {
  background-color: #fff;
  padding: 10px 20px;
}

.dropdown .dropdown-filter>input {
  float: none;
  width: 100%;
}

.dropdown.is-disabled .dropdown-selected {
  color: #888;
  cursor: default;
}

.dropdown.is-disabled .dropdown-indicator,
.dropdown.is-disabled .dropdown-selected-icon {
  display: none;
}

.dropdown.dropdown-flat {
  width: auto;
  border-color: transparent;
}

.dropdown.dropdown-flat:focus {
  border-color: transparent;
  box-shadow: none;
}

.dropdown.dropdown-icon {
  border-bottom: none;
  display: inline-block;
  width: auto;
}

.dropdown.dropdown-icon:focus {
  box-shadow: none;
  outline: 0;
}

.is-invalid .dropdown {
  border-color: #eb4536;
  box-shadow: inset 0 -2px 0 #eb4536;
}

.is-invalid .dropdown .dropdown-filter>input {
  border-color: #e0e0e0;
}

/*-------------------
    Multi Select
--------------------*/

.multi-select-dropdown-options {
  position: absolute;
  min-width: 200px;
  max-width: 300px;
  max-height: 270px;
  overflow-y: auto;
  top: -8px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 1px 6px rgba(0,0,0,0.12);
  z-index: 1;
}

.multi-select-dropdown-option-item {
  min-height: 40px;
  padding: 5px 30px 5px 10px;
  max-width: 300px;
  width: 100%;
  text-overflow: ellipsis;
}

.multi-select-dropdown-option-item:hover {
  background-color: #e9e9e9;
}

.multi-select-dropdown-option-item .checkbox-display {
  margin-left: 5px;
}

.multi-select-dropdown-option-item .checkbox-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  font-size: 13px;
  margin-left: 5px;
}

.multi-select-dropdown-selectalloption {
  border-bottom: 1px solid #e9e9e9;
}

/*-------------------
    Option List
--------------------*/

.option-list {
  background-color: #FFF;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.option-list.overflow-visible {
  overflow: visible;
}

.option-list-item {
  overflow: hidden;
  cursor: pointer;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  padding: 10px 20px;
  //text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 400;
  color: #363636;
}

.option-list-item.option-list-item-has-overflow {
  overflow: visible;
}

.option-list-item.is-highlighted {
  background-color: #e9e9e9;
  text-decoration: none;
}

.option-list-item.is-selected {
  color: #0D94F6;
}

.option-list-item.is-disabled {
  color: #bdbdbd;
  background-color: #FFF;
}

.option-list-item.is-disabled.is-highlighted {
  color: #bdbdbd;
}

.option-list-item-icon {
  color: #888;
  font-size: 22px !important;
  vertical-align: top;
  margin-right: 15px;
}

.option-list-item-text {
  color: inherit;
}

img#option-list-item-img-icon {
  max-width: 22px;
  max-height: 22px;
  margin-right: 15px;
}

.option-list-item.option-list-item-detailed {
  min-height: 59px;
  padding-left: 65px;
  position: relative;
}

.option-list-item.option-list-item-detailed.has-disabled-interaction {
  cursor: default;
}

.option-list-item.option-list-item-detailed .highlight-matched-text .highlighted {
  color: #0D94F6;
}

.option-list-item-title {
  font-weight: 500;
  font-size: 13px;
  color: #363636;
}

.option-list-item-subtext {
  color: #888;
  font-size: 12px;
}

.option-list-info-item-abbreviation {
  color: #888;
  width: 35px;
  display: inline-block;
}

.option-list-info-item-text {
  margin-left: 15px;
  display: inline-block;
}

.option-list-item-link {
  color: #0D94F6;
  font-size: 12px;
  float: right;
}

.option-list-item-overlay {
  bottom: 0;
  height: 30px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.option-list-item-disabled {
  color: #9e9e9e;
}

.option-list-item-right-content {
  display: inline-block;
  float: right;
  font-size: 18px;
  font-weight: 400;
  height: 20px;
}

.option-list-item.option-list-item-active,
.option-list-item.option-list-item-create {
  font-weight: 500;
}

.option-list-item-right-content .zmdi-icon,
.option-list-item-right-content .zmdi-icon:hover {
  color: #888;
}

.option-list-item-right-content .zmdi-icon.zmdi-lock,
.option-list-item-right-content .zmdi-icon.md-lock:hover {
  color: #ccc;
}

.option-list-item .zmdi-star {
  color: #fbc02d;
}

.option-list-item-hover-content {
  display: none;
}

.option-list-item:hover .option-list-item-hover-content {
  display: inline-block;
}

.option-list-item.option-list-item-action-button {
  color: #0D94F6;
  cursor: pointer;
}

.option-list-item.option-list-item-divider {
  border-top: 1px solid #e9e9e9;
}

.option-list-item.option-list-filter {
  display: flex;
  flex-wrap: nowrap;
}

.option-list-item.option-list-filter .option-list-item-text {
  flex: 1 1 auto;
}

.option-list-item.option-list-filter .option-list-item-right-content {
  align-self: flex-end;
  padding-left: 10px;
}

.option-list-label {
  color: #888;
  font-size: 12px;
  font-weight: 700;
  margin-top: 5px;
  padding-left: 12px;
  line-height: 24px;
}

.option-list-label.option-list-label-empty {
  color: #888;
  cursor: default;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 10px 20px;
  position: relative;
}

.option-list-label.option-list-label-empty .option-list-label-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option-list-item.option-list-filter .option-list-item-text,
.option-list-label.option-list-label-empty .option-list-label-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option-list-loading {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.option-list-loading-spinner {
  display: inline-block;
  fill: #0d94f6;
  height: 32px;
  width: 32px;
}

/*-------------------
    Popup
--------------------*/

.popup-container {
  display: inline-block;
  width: 42px;
  border-bottom: 0;
  position: relative;
  cursor: pointer;
}

.popup-container:focus {
  border-color: transparent;
  box-shadow: none;
}

.popup-container .popup-badge,
.popup-container>span.counter {
  top: -2px;
  right: -4px;
  font-size: 10px;
  color: #fff;
  border-radius: 50%;
}

.popup-container .popup-badge:empty,
.popup-container>span.counter:empty {
  display: none;
}

.popup-container .popup-badge {
  background: #db4437;
  font-weight: 500;
  height: 18px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.5s cubic-bezier(0.55, 0, 0.125, 1.5);
  transition: transform 0.3s 0.5s cubic-bezier(0.55, 0, 0.125, 1.5);
  width: 18px;
}

.popup-container .popup-badge.is-hidden {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s 0.6s cubic-bezier(0.55, 0, 0, 1);
  transition: transform 0.2s 0.6s cubic-bezier(0.55, 0, 0, 1);
}

.popup-container .popup-badge.is-hidden>span {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0.5s cubic-bezier(0.55, 0, 0, 1);
  transition: transform 0.3s 0.5s cubic-bezier(0.55, 0, 0, 1);
}

.popup-container .popup-badge>span {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s 0.6s cubic-bezier(0.55, 0, 0, 1);
  transition: transform 0.2s 0.6s cubic-bezier(0.55, 0, 0, 1);
}

.popup-container>span.counter {
  position: absolute;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 17px;
  background: #0D94F6;
}

.popup-container.sort-options-dropdown {
  position: absolute;
  left: 63px;
  top: 76px;
}

.popup-content {
  z-index: 0;
  max-height: none;
}

.popup-content.list-filter-selector {
  right: inherit;
  top: 17px;
  left: 0;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  max-height: 300px;
}

.popup-content.list-settings {
  left: inherit;
  top: 36px;
  right: 0;
  z-index: 1;
}

.popup-content.list-search {
  display: none;
  overflow: hidden;
  margin-bottom: 5px;
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 200px;
  background-color: #f2f2f2;
  padding-left: 5px;
}

.popup-content.list-search.open-right {
  right: auto;
  left: 34px;
}
