/*------------------------------------*\
  $mixins
\*------------------------------------*/

@mixin box-sizing($box-sizing: $box-sizing) {
  -webkit-box-sizing: $box-sizing;
  -moz-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}

@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  -o-user-select: $value;
  user-select: $value;
}

@mixin transform($transform) {
  -ms-transform: rotate($transform);
  -webkit-transform: rotate($transform);
  transform: rotate($transform);
}

/*------------------------------------*\
  variables
\*------------------------------------*/

/* table - sizes */

/* table - bg and border colors */

/*------------------------------------*\
  table
\*------------------------------------*/

/* ember table structure
-------------------------------------------------- */

/* table structures */

.ember-table-table-block,
.ember-table-table-container,
.ember-table-table-fixed-wrapper,
.ember-table-tables-container {
  position: relative;
  overflow: hidden;
}

.ember-table-tables-container {
  height: 100%;
  width: 100%;
  outline: 0;
  z-index: 0;
  font-size: 0;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ember-table-tables-container.ember-table-content-selectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}

.ember-table-tables-container * {
  text-rendering: optimizelegibility;
}

.ember-table-table-container {
  white-space: nowrap;
  z-index: 3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ember-table-header-block,
.ember-table-table-fixed-wrapper {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ember-table-header-container {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.ember-table-footer-container {
  -webkit-box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ember-table-table-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.ember-table-table-block {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  box-sizing: border-box;
}

.ember-table-table-row,
.ember-table-table-row>div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.ember-table-fixed-table-container {
  z-index: 4;
}

.ember-table-fixed-table-container.ember-table-footer-container,
.ember-table-fixed-table-container.ember-table-header-container {
  background-color: #fff;
}

.ember-table-header-row::-webkit-scrollbar {
  width: 0;
}

.ember-table-header-container .ember-table-table-fixed-wrapper,
.ember-table-header-row {
  position: relative;
  background-color: #f8f8f8;
}

/* table rows */

.ember-table-table-row {
  cursor: pointer;
  box-sizing: border-box;
  min-width: 100%;
  border-bottom: 1px dotted #dcdcdc;
}

.ember-table-table-row>div {
  height: 100%;
  box-sizing: border-box;
}

/* table cell */

.ember-table-cell,
.ember-table-cell .ember-table-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.ember-table-cell {
  float: left;
  font-size: 12px;
  border-right: 1px solid #dcdcdc;
  height: 100%;
  box-sizing: border-box;
}

.ember-table-cell .ember-table-content {
  line-height: 29px;
  display: block;
  padding: 0 5px;
  box-sizing: border-box;
}

.ember-table-cell .ember-table-content:hover {
  cursor: pointer;
}

.ember-table-body-container .ember-table-content,
.ember-table-footer-container .ember-table-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
  border-right: 0;
}

.ember-table-left-table-block .ember-table-cell {
  margin-left: 0;
  margin-right: 0;
  border-right: 1px solid #dcdcdc !important;
}

/* header container */

.ember-table-header-container {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ember-table-header-container .ui-state-highlight {
  float: left;
  background-color: #e1e1e1;
  width: 0;
  left: -3px;
  z-index: 100;
  position: relative;
  height: 100%;
}

.ember-table-header-container .ui-resizable-handle {
  position: absolute;
  right: -3px;
}

.ember-table-header-container .ui-resizable-handle.ui-resizable-e {
  top: 0;
  height: 100%;
  width: 15px;
}

.ember-table-header-container .ui-resizable-handle.ui-resizable-e:hover {
  cursor: col-resize;
}

.ember-table-header-container .ui-resizable-handle.ui-resizable-s {
  bottom: 0;
  width: 100%;
  height: 2px;
  background: 0 0;
}

.ember-table-header-container .ui-sortable-helper,
.ember-table-header-container .ui-sortable-helper .ui-resizable-handle {
  background-color: #eaeaea;
}

.ember-table-header-container .ui-resizable-handle.ui-resizable-s:hover {
  cursor: row-resize;
}

.ember-table-header-container .ui-sortable {
  width: 100%;
  height: 100%;
  position: relative;
}

.ember-table-header-container .ui-sortable-helper .ember-table-content-container {
  display: none;
}

.ember-table-header-container .ember-table-right-table-block .ember-table-table-row {
  width: 100%;
  overflow-x: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ember-table-header-container .ember-table-right-table-block .ember-table-table-row .ui-sortable {
  overflow: hidden;
}

/* header cells */

.ember-table-header-cell {
  padding: 0;
  position: relative;
  display: block !important;
  font-size: 12px !important;
  background-color: #f8f8f8;
}

.ember-table-header-cell span {
  line-height: 1;
}

.ember-table-header-cell .ember-table-content-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ember-table-header-cell .ember-table-content-container:hover {
  cursor: pointer;
}

.ember-table-header-cell .ember-table-content-container .ember-table-content {
  padding: 5px;
  line-height: 1.4;
  position: absolute;
  bottom: 2px;
  font-weight: 700;
  width: 100%;
}

.ember-table-header-cell.text-left .ember-table-content {
  left: 0;
}

.ember-table-header-cell.text-right .ember-table-content {
  right: 0;
}

/* footer */

.ember-table-footer-container {
  position: absolute;
  border-top: 1px solid #dcdcdc;
  overflow: hidden;
  z-index: 1;
}

/* column indicator */

.ember-table-column-sortable-indicator {
  position: absolute;
  top: 0;
  left: -2px;
  height: 100%;
  background-color: #333;
  opacity: .4;
  width: 3px;
  z-index: 1000;
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* antiscroll */

.antiscroll-scrollbar {
  z-index: 10;
}

.ember-table-body-container .antiscroll-box {
  width: 100%;
  height: 100%;
  overflow: scroll;
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  scrollbar-width: none; // Firefox
}

.ember-table-body-container .antiscroll-box::-webkit-scrollbar {
  display: none; // Safari and Chrome
}

.ember-table-body-container.antiscroll-wrap .antiscroll-scrollbar-horizontal {
  height: 13px;
}

.ember-table-body-container.antiscroll-wrap .antiscroll-scrollbar-horizontal+.antiscroll-scrollbar-horizontal {
  display: none;
}

.ember-table-body-container .ember-table-left-table-block {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  z-index: 1;
  background-color: #fff;
}

/* levels */

.ember-table-table-row.ember-table-last-row {
  border-bottom: none;
}

.ember-table-body-container .ember-table-table-row.ember-table-hover,
.ember-table-body-container .ember-table-table-row:hover {
  background-color: #e5edf8;
}

.ember-table-body-container .ember-table-table-row.ember-table-selected {
  color: #eee;
  background-color: #227ecb;
}

.ember-table-body-container .ember-table-table-row.ember-table-selected .ember-table-cell {
  border-right: 1px solid #1d6bac;
}

.ember-table-header-cell.table-header-cell,
.ember-table-left-table-block .ember-table-cell.table-header-cell {
  border-right: solid transparent !important;
  vertical-align: middle;
  line-height: 52px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ember-table-header-container,
.ember-table-left-table-block .ember-table-table-row,
.ember-table-right-table-block .ember-table-table-row {
  border-bottom: 1px solid #e9e9e9;
}

.ember-table-header-cell.table-header-cell {
  color: #888;
  font-weight: 500;
  padding-left: 0;
  border-right-width: 0 !important;
  font-size: 13px !important;
}

.ember-table-header-cell.table-header-cell-sort-ascending,
.ember-table-header-cell.table-header-cell-sort-descending {
  color: #0d94f6;
}

.ember-table-header-cell.table-header-cell .table-header-cell-content {
  cursor: default;
  padding-left: 15px;
}

.ember-table-header-cell.table-header-cell .table-header-cell-content i {
  margin-left: 6px;
}

.ember-table-header-cell.table-header-cell.table-header-cell-sort-ascending .table-header-cell-content>span,
.ember-table-header-cell.table-header-cell.table-header-cell-sort-descending .table-header-cell-content>span,
.ember-table-header-cell.table-header-cell.table-header-cell-sortable .table-header-cell-content>span {
  cursor: pointer;
}

.ember-table-header-cell.table-header-cell.table-header-cell-sort-ascending .table-header-cell-content .zmdi-sort-amount-desc,
.ember-table-header-cell.table-header-cell.table-header-cell-sort-descending .table-header-cell-content .zmdi-sort-amount-desc,
.ember-table-header-cell.table-header-cell.table-header-cell-sortable .table-header-cell-content .zmdi-sort-amount-desc {
  position: relative;
  top: 2px;
  font-size: 18px;
}

.ember-table-right-table-block .ember-table-header-cell.table-header-cell {
  cursor: move;
}

.ember-table-right-table-block .ember-table-header-cell.table-header-cell:hover {
  background-color: #efefef;
}

.ember-table-header-cell.table-header-cell-sort-ascending i {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ember-table-header-cell.table-header-cell-select .checkbox {
  display: block;
}

.ember-table-header-cell.table-header-cell-select i {
  margin: 15px 3px 0 0 !important;
  font-size: 24px;
  color: #888;
}

.ember-table-header-cell.table-header-cell-select i.zmdi-check-square,
.ember-table-header-cell.table-header-cell-select i.select,
.ember-table-header-cell.table-header-cell-select i:hover {
  color: #0d94f6;
}

.ember-table-left-table-block .ember-table-cell.table-header-cell {
  font-size: 13px;
  color: #888;
  padding-left: 0;
  border-right-width: 0 !important;
}

.ember-table-left-table-block .ember-table-cell.table-header-cell-sort-ascending,
.ember-table-left-table-block .ember-table-cell.table-header-cell-sort-descending {
  color: #0d94f6;
}

.ember-table-left-table-block .ember-table-cell.table-cell-avatar,
.ember-table-left-table-block .ember-table-cell.table-cell-follow,
.ember-table-left-table-block .ember-table-cell.table-cell-action,
.ember-table-left-table-block .ember-table-cell.table-cell-name,
.ember-table-left-table-block .ember-table-cell.table-cell-select,
.ember-table-left-table-block .ember-table-cell.table-cell-task,
.ember-table-right-table-block .ember-table-cell.table-cell-name {
  border-right: solid transparent !important;
  line-height: 52px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.ember-table-left-table-block .ember-table-cell.table-header-cell-sort-ascending i {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ember-table-left-table-block .ember-table-cell.table-cell-select .checkbox,
.ember-table-left-table-block .ember-table-cell.table-cell-follow .checkbox {
  display: block;
}

.ember-table-left-table-block .ember-table-cell.table-cell-select {
  font-size: 13px;
  color: #888;
  padding-left: 15px;
}

.ember-table-left-table-block .ember-table-cell.table-cell-select i {
  line-height: 52px;
  font-size: 24px;
  color: transparent;
}

.ember-table-left-table-block .ember-table-cell.table-cell-select i.zmdi-check-square,
.ember-table-left-table-block .ember-table-cell.table-cell-select i:hover {
  color: #0d94f6;
}

.ember-table-left-table-block .ember-table-cell.table-cell-follow,
.ember-table-left-table-block .ember-table-cell.table-cell-action {
  font-size: 13px;
  color: #888;
  padding-left: 0;
}

.ember-table-left-table-block .ember-table-cell.table-cell-follow i,
.ember-table-left-table-block .ember-table-cell.table-cell-action i {
  line-height: 52px;
  font-size: 24px;
  color: transparent;
}

.ember-table-left-table-block .ember-table-cell.table-cell-follow i.zmdi-star,
.ember-table-left-table-block .ember-table-cell.table-cell-follow i:hover {
  color: #f4b400;
}

.ember-table-left-table-block .ember-table-cell.table-cell-action i:hover {
  color: #888;
}

.ember-table-left-table-block .ember-table-table-row.ember-table-hover .zmdi-square-o,
.ember-table-left-table-block .ember-table-table-row.ember-table-hover .zmdi-star-outline,
.ember-table-left-table-block .ember-table-table-row.ember-table-hover .zmdi-edit,
.ember-table-left-table-block .ember-table-table-row.ember-table-hover .zmdi-delete,
.ember-table-left-table-block .ember-table-table-row:hover .zmdi-square-o,
.ember-table-left-table-block .ember-table-table-row:hover .zmdi-star-outline,
.ember-table-left-table-block .ember-table-table-row:hover .zmdi-edit,
.ember-table-left-table-block .ember-table-table-row:hover .zmdi-delete {
  color: #ccc;
}

.ember-table-left-table-block .ember-table-cell.table-cell-avatar,
.ember-table-left-table-block .ember-table-cell.table-cell-task {
  font-size: 13px;
  color: #888;
  padding-left: 0;
  padding-bottom: 8px;
  padding-top: 8px;
}

.ember-table-left-table-block .table-cell-placeholder.ember-table-cell.table-cell-avatar>.placeholder-circle,
.ember-table-left-table-block .ember-table-cell.table-cell-avatar>.profile-image-component {
  height: 36px;
  width: 36px;
}

.ember-table-left-table-block .ember-table-table-row.ember-table-selected .ember-table-cell.table-cell-task .task-check-box-container {
  background: #fff;
}

.ember-table-left-table-block .ember-table-table-row.ember-table-selected .ember-table-cell.table-cell-task .task-check-box-activity-icon {
  color: #5c6bc0;
}

.ember-table-left-table-block .ember-table-table-row:hover .ember-table-cell.table-cell-task .task-check-box-container,
.ember-table-left-table-block .ember-table-table-row.ember-table-selected:hover .ember-table-cell.table-cell-task .task-check-box-container {
  background: #0d94f6;
}

.ember-table-left-table-block .ember-table-table-row:hover .ember-table-cell.table-cell-task .task-check-box-container.is-completed,
.ember-table-left-table-block .ember-table-table-row.ember-table-selected:hover .ember-table-cell.table-cell-task .task-check-box-container.is-completed {
  background: #49b04b;
}

.ember-table-left-table-block .ember-table-table-row:hover .ember-table-cell.table-cell-task .task-check-box-container .task-check-box-checkbox,
.ember-table-left-table-block .ember-table-table-row.ember-table-selected:hover .ember-table-cell.table-cell-task .task-check-box-container .task-check-box-checkbox {
  display: inline-flex;
}

.ember-table-left-table-block .ember-table-table-row:hover .ember-table-cell.table-cell-task .task-check-box-container .md-check-box-outline-blank,
.ember-table-left-table-block .ember-table-table-row.ember-table-selected:hover .ember-table-cell.table-cell-task .task-check-box-container .zmdi-square-o {
  color: #fff;
}

.ember-table-left-table-block .ember-table-cell.table-cell-name,
.ember-table-right-table-block .ember-table-cell.table-cell-name {
  font-size: 13px;
  color: #888;
  padding-left: 15px;
}

.ember-table-left-table-block .ember-table-cell.table-cell-name>a,
.ember-table-left-table-block .ember-table-cell.table-cell-name>div,
.ember-table-right-table-block .ember-table-cell.table-cell-name>a,
.ember-table-right-table-block .ember-table-cell.table-cell-name>div {
  text-align: left;
  font-weight: 700;
  color: #363636;
}

.ember-table-left-table-block .ember-table-cell.table-cell-name i,
.ember-table-right-table-block .ember-table-cell.table-cell-name i {
  font-size: 24px;
  color: #49b04b;
  margin-left: 8px;
  vertical-align: middle;
}

.ember-table-left-table-block .ember-table-cell.table-cell-name i:hover,
.ember-table-right-table-block .ember-table-cell.table-cell-name i:hover {
  color: #3d933f;
}

.ember-table-left-table-block .ember-table-cell.table-cell-name.is-completed>div,
.ember-table-right-table-block .ember-table-cell.table-cell-name.is-completed>div {
  color: #ccc;
  text-decoration: line-through;
}

.ember-table-left-table-block .ember-table-cell.table-cell-placeholder {
  border-right: 1px solid transparent !important;
}

.ember-table-table-row.ember-table-selected .ember-table-cell.table-cell-select i.zmdi-check-square,
.ember-table-table-row.ember-table-selected .ember-table-cell.table-cell-select i.zmdi-square-o:hover {
  color: #fff;
}

.ember-table-left-table-block {
  border-right: 1px solid #e9e9e9;
}

.ember-table-tables-container {
  border: 1px solid #e9e9e9;
  border-left-width: 0;
}

.ember-table-table-row.ember-table-selected,
.ember-table-table-row.ember-table-selected .ember-table-cell.table-cell-name .zmdi-local-atm,
.ember-table-table-row.ember-table-selected .ember-table-cell.table-cell-name>a,
.ember-table-table-row.ember-table-selected .ember-table-cell.table-cell-name>div {
  color: #fff;
}

.ember-table-table-row.ember-table-selected .ember-table-cell.table-cell-name.is-completed>div {
  color: #ccc;
}

.ember-table-table-row.ember-table-selected .table-cell-date,
.ember-table-table-row.ember-table-selected .table-cell-datetime,
.ember-table-table-row.ember-table-selected .table-cell-money,
.ember-table-table-row.ember-table-selected .table-cell-percent,
.ember-table-table-row.ember-table-selected .table-cell-integer,
.ember-table-table-row.ember-table-selected .table-cell-number,
.ember-table-table-row.ember-table-selected .table-cell-badge,
.ember-table-table-row.ember-table-selected .table-cell-boolean,
.ember-table-table-row.ember-table-selected .table-cell-text {
  color: #fff;
}

.ember-table-table-row.ember-table-selected .table-cell-date.is-overdue,
.ember-table-table-row.ember-table-selected .table-cell-datetime.is-overdue,
.ember-table-table-row.ember-table-selected .table-cell-money.is-overdue,
.ember-table-table-row.ember-table-selected .table-cell-percent.is-overdue,
.ember-table-table-row.ember-table-selected .table-cell-integer.is-overdue,
.ember-table-table-row.ember-table-selected .table-cell-number.is-overdue,
.ember-table-table-row.ember-table-selected .table-cell-badge.is-overdue,
.ember-table-table-row.ember-table-selected .table-cell-boolean.is-overdue,
.ember-table-table-row.ember-table-selected .table-cell-text.is-overdue {
  color: #db4437;
}

.ember-table-table-row.ember-table-selected .table-cell-assignee,
.ember-table-table-row.ember-table-selected .table-cell-assignee>a,
.ember-table-table-row.ember-table-selected .table-cell-checkbox i,
.ember-table-table-row.ember-table-selected .table-cell-checkbox i.zmdi-check-square,
.ember-table-table-row.ember-table-selected .table-cell-checkbox i:hover,
.ember-table-table-row.ember-table-selected .table-cell-contact-group,
.ember-table-table-row.ember-table-selected .table-cell-contact-group>a {
  color: #fff;
}

.ember-table-table-row.ember-table-selected .table-cell-assignee.is-completed>a {
  color: #ccc;
}

.ember-table-table-row.ember-table-selected .table-cell-company,
.ember-table-table-row.ember-table-selected .table-cell-company a,
.ember-table-table-row.ember-table-selected .table-cell-contact,
.ember-table-table-row.ember-table-selected .table-cell-contact a,
.ember-table-table-row.ember-table-selected .table-cell-email,
.ember-table-table-row.ember-table-selected .table-cell-email a,
.ember-table-table-row.ember-table-selected .table-cell-phone,
.ember-table-table-row.ember-table-selected .table-cell-phone a,
.ember-table-table-row.ember-table-selected .table-cell-related,
.ember-table-table-row.ember-table-selected .table-cell-related a,
.ember-table-table-row.ember-table-selected .table-cell-text,
.ember-table-table-row.ember-table-selected .table-cell-text a,
.ember-table-table-row.ember-table-selected .table-cell-url,
.ember-table-table-row.ember-table-selected .table-cell-url a {
  color: #fff;
}
.ember-view .ember-table-header-container .ember-table-right-table-block .ember-table-table-row {
  overflow-x: unset;
}

.ember-table-body-container .ember-table-table-row.ember-table-hover,
.ember-table-body-container .ember-table-table-row:hover {
  background-color: rgba(13,148,246,0.04);
}

/*------------------------------------*\
  Table Cell
\*------------------------------------*/

.ember-table-right-table-block .table-cell-mobile {
  display: none !important;
}

@media (max-width: 767.98px) {
  .ember-table-left-table-block .table-cell-mobile {
    display: none !important;
  }

  .ember-table-right-table-block .table-cell-mobile {
    display: block !important;
  }
}

.table-cell-date,
.table-cell-datetime,
.table-cell-money,
.table-cell-percent,
.table-cell-integer,
.table-cell-number,
.table-cell-phone,
.table-cell-badge,
.table-cell-boolean,
.table-cell-text {
  font-size: 13px;
  border-right: solid transparent !important;
  vertical-align: middle;
  line-height: 52px;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-cell-date,
.table-cell-datetime,
.table-cell-money,
.table-cell-percent,
.table-cell-integer,
.table-cell-number,
.table-cell-badge,
.table-cell-boolean,
.table-cell-text {
  color: #888;
}

.table-cell-date.is-overdue,
.table-cell-datetime.is-overdue,
.table-cell-money.is-overdue,
.table-cell-percent.is-overdue,
.table-cell-integer.is-overdue,
.table-cell-number.is-overdue,
.table-cell-badge.is-overdue,
.table-cell-boolean.is-overdue,
.table-cell-text.is-overdue {
  color: #db4437;
}

.table-cell-phone {
  color: #888;
}

.table-cell-phone.can-dial {
  color: #0d94f6;
}

.table-cell-checkbox,
.table-cell-company,
.table-cell-contact,
.table-cell-email,
.table-cell-related,
.table-cell-url {
  font-size: 13px;
  vertical-align: middle;
  color: #888;
  padding-left: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 52px;
  border-right: solid transparent !important;
  overflow: hidden;
}

.table-cell-company a,
.table-cell-contact a,
.table-cell-email a,
.table-cell-related a,
.table-cell-url a {
  text-align: left;
}

.table-cell-name a:hover,
.table-cell-company a:hover,
.table-cell-contact a:hover,
.table-cell-email a:hover,
.table-cell-related a:hover,
.table-cell-url a:hover {
  text-decoration: underline;
}

.table-cell-checkbox i {
  line-height: 52px;
  font-size: 24px;
}

.table-cell-assignee,
.table-cell-contact-group,
.table-cell-placeholder {
  font-size: 13px;
  vertical-align: middle;
  line-height: 52px;
  padding-left: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-cell-checkbox i.zmdi-check,
.table-cell-checkbox i:hover {
  color: #0d94f6;
}

.table-cell-assignee {
  border-right: solid transparent !important;
  color: #888;
  overflow: hidden;
}

.table-cell-assignee.is-completed,
.table-cell-assignee.is-completed>a,
.table-cell-related.is-completed,
.table-cell-related.is-completed>a {
  color: #ccc;
}

.table-cell-contact-group {
  border-right: solid transparent !important;
  color: #888;
  overflow: hidden;
}

.table-cell-placeholder {
  border-right: solid transparent !important;
  color: #888;
  overflow: hidden;
}

.table-cell-placeholder>.placeholder-bar {
  height: 14px;
  background-color: #efefef;
  margin-top: 18px;
}

.table-cell-placeholder>.placeholder-circle {
  width: 36px;
  height: 36px;
  background-color: #efefef;
}

.table-cell-placeholder.text-right .placeholder-circle,
.table-cell-placeholder.text-right>.placeholder-bar {
  float: right;
}

.table-cell-placeholder.text-center>.placeholder-bar {
  margin-left: auto;
  margin-right: auto;
}

.placeholder-bar-40 {
  width: 40%;
}

.placeholder-bar-45 {
  width: 45%;
}

.placeholder-bar-50 {
  width: 50%;
}

.placeholder-bar-55 {
  width: 55%;
}

.placeholder-bar-60 {
  width: 60%;
}

.placeholder-bar-65 {
  width: 65%;
}

.placeholder-bar-70 {
  width: 70%;
}

.ember-table-cell .badge {
  font-size: 100%;
}

/*------------------------------------*\
  Import
\*------------------------------------*/

.import-table-panel .ember-table-tables-container {
  border-left: none !important;
  border-right: none !important;
}

.import-table-panel .ember-table-header-cell .ember-table-content-container .ember-table-content {
  padding: 5px 5px 10px 20px;
}

.import-table-panel .ember-table-cell .ember-table-content {
  padding: 6px 5px 0 20px;
}

.import-table-panel .import-table-cell.ember-table-cell {
  cursor: default;
  color: #363636;
  border-right: 1px solid #dcdcdc !important;
}

.import-table-panel .import-table-cell.ember-table-cell.is-ignored {
  color: #888;
  background-color: #f8f8f8;
}

.import-table-panel .import-table-cell.ember-table-cell.is-error {
  color: #db4437;
}

.import-table-panel .import-table-header.ember-table-header-cell {
  cursor: default;
  color: #363636;
}

.import-table-panel .import-table-header.ember-table-header-cell.is-ignored {
  color: #888;
  background-color: #f0f0f0;
}

.import-table-panel .import-table-header.ember-table-header-cell>.import-table-header-row {
  position: relative;
  height: 50%;
}

.import-table-panel .import-table-header.ember-table-header-cell>.import-table-header-row>span {
  display: block;
  padding: 14px 40px 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: baseline;
}

.import-table-panel .import-table-header.ember-table-header-cell>.import-table-header-row>span.import-table-header-name {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}

.import-table-panel .import-table-header.ember-table-header-cell>.import-table-header-row>span.import-table-header-error {
  font-size: 12px;
  line-height: 14px;
  padding-top: 8px;
}

.import-table-panel .import-table-header.ember-table-header-cell>.import-table-header-row>span.import-table-header-error.is-error {
  color: #db4437;
}

.import-table-panel .import-table-header.ember-table-header-cell>.import-table-header-row>i {
  position: absolute;
  top: 12px;
  right: 21px;
  font-size: 16px;
}

.import-table-panel .import-table-header.ember-table-header-cell>.import-table-header-row>i.zmdi-alert-triangle {
  color: #db4437;
}

/*
.import-table-panel .import-table-header.ember-table-header-cell>.import-table-header-row>button {
  position: absolute;
  top: 6px;
  right: 20px;
  padding: 0;
}
*/
