.entity-profile-frame-header-actions-box:after,
.entity-profile-frame-title-box:after {
  content: '';
  clear: both;
}

.entity-profile-frame {
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,0.12);
}

.entity-profile-frame.is-complete .entity-profile-frame-title {
  text-decoration: line-through;
}

.entity-profile-frame-header-box {
  color: #fff;
  flex: 0 0 auto;
  height: 160px;
  padding: 0 10px;
  position: relative;
}

.entity-profile-frame-header-actions-box {
  height: 54px;
  width: 100%;
  position: relative;
}

.entity-profile-frame-header-actions-box .entity-profile-frame-header-left-actions,
.entity-profile-frame-header-actions-box .entity-profile-frame-header-right-actions {
  display: flex;
  height: 100%;
  align-items: center;
  color: #888;
}

.entity-profile-frame-header-action-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  vertical-align: top;
  height: 36px;
  width: 36px;
}

.entity-profile-frame-header-action-button .zmdi-star {
  color: #f4b400;
}

.entity-profile-frame-header-action-button:hover {
  color: #363636;
}

.entity-profile-frame-header-action-button .button-icon {
  font-size: 24px;
  height: 36px;
  align-items: center;
}

.entity-profile-frame-header-action-button .button-icon>.on,
.entity-profile-frame-header-action-button .button-icon>.off {
  display: none !important;
}

.entity-profile-frame-header-action-button .button-icon.is-active>.on,
.entity-profile-frame-header-action-button .button-icon:not(.is-active)>.off {
  display: block !important;
}

.entity-profile-frame-header-left-actions {
  float: left;
  color: #b3b3b3;
}

.entity-profile-frame-header-right-actions {
  float: right;
  color: #b3b3b3;
}

.entity-profile-frame-title-box {
  height: 58px;
  display: flex;
  align-items: center;
}

.entity-profile-frame-title-icon {
  height: 50px;
  width: 50px;
  margin: 0 10px 0 15px;
  position: relative;
  display: flex;
}

.entity-profile-frame-title-box-text {
  display: flex;
  flex-flow: column nowrap;
  width: calc(100% - 75px);
}

.entity-profile-frame-title,
.entity-profile-frame-subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entity-profile-frame-title {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.entity-profile-frame-subtitle {
  color: #363636;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}

.entity-profile-frame-subtitle span+span:not(:empty):before {
  content: ' | ';
  padding: 0 5px;
}

.entity-profile-frame-complete-toggle {
  cursor: pointer;
  float: left;
  font-size: 28px;
  margin-right: 15px;
  text-align: center;
  width: 60px;
  padding-left: 10px;
}

.entity-profile-frame-tab-box {
  bottom: 0;
  color: rgba(255,255,255,0.7);
  font-size: 0;
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e9e9e9;
}

.entity-profile-frame-tab {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 33%;
  color: #888;
  margin-bottom: -1px;
}

.entity-profile-frame-tab.active {
  box-shadow: inset 0 -4px 0 #fdd835;
  color: #363636;
}

.entity-profile-frame-tab:hover {
  color: #424242;
}

.entity-profile-frame-content-box {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  flex-flow: column nowrap;
  overflow: hidden;
}

.entity-profile-frame-details {
  color: #363636;
  font-size: 13px;
  line-height: 24px;
  padding: 25px 25px 85px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  overflow-y: auto;
}

.entity-profile-frame.entity-profile-frame-preview {
  width: 360px;
}

.entity-profile-frame:not(.entity-profile-frame-preview) .entity-profile-frame-header-box {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row-reverse nowrap;
  border-bottom: 1px solid #e9e9e9;
}

@media (max-width: 767.98px) {
  .entity-profile-frame:not(.entity-profile-frame-preview) .entity-profile-frame-header-box {
    padding-bottom: 40px;
  }
}

.entity-profile-frame:not(.entity-profile-frame-preview) .entity-profile-frame-header-actions-box {
  width: 82px;
}

.entity-profile-frame:not(.entity-profile-frame-preview) .entity-profile-frame-header-left-actions {
  order: 2;
}

.entity-profile-frame:not(.entity-profile-frame-preview) .entity-profile-frame-header-right-actions {
  order: 1;
}

.entity-profile-frame:not(.entity-profile-frame-preview) .entity-profile-frame-title-box-container {
  width: calc(100% - 82px);
}

@media (min-width: 1200px) {
  .entity-profile-frame:not(.entity-profile-frame-preview) .profile-image-component-circle {
    transition: width .3s,height .3s;
    align-self: center;
  }
}

@media (max-width: 1199.98px) {
  .entity-profile-frame:not(.entity-profile-frame-preview) .profile-image-component-initials {
    font-size: 14px;
  }

  .entity-profile-frame:not(.entity-profile-frame-preview) .profile-image-component-circle {
    height: 36px;
    width: 36px;
    transition: width .3s,height .3s;
    align-self: center;
  }

  .entity-profile-frame:not(.entity-profile-frame-preview) .entity-profile-frame-title {
    font-size: 16px;
    line-height: 22px;
  }

  .entity-profile-frame:not(.entity-profile-frame-preview) .entity-profile-frame-title-icon {
    width: 36px;
  }

  .entity-profile-frame:not(.entity-profile-frame-preview) .entity-profile-frame-title-box-text {
    width: calc(100% - 61px);
  }
}

.entity-profile-frame-tabs.entity-profile-frame:not(.entity-profile-frame-preview) .entity-profile-frame-header-box {
  height: 57px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #d5d8d8
}

@media (max-width: 767.98px) {
  .entity-profile-frame-tabs.entity-profile-frame:not(.entity-profile-frame-preview) .entity-profile-frame-header-actions-box {
    top: 20px;
  }
}

.entity-profile-frame-tabs .entity-profile-frame-tab-box {
  top: 12px;
  width: calc(100% - 100px);
  border: none;
}

.entity-profile-frame-tabs .tab-content {
  height: calc(100% - 57px) !important;
}

.entity-profile-frame-tabs .entity-list:not(.is-table),
.entity-profile-frame-tabs .entity-details {
  padding-bottom: 60px;
}

/*-------------------
    Entity Detials
--------------------*/

.entity-details {
  position: relative;
  height: 100%;
  color: #363636;
  font-size: 13px;
  line-height: 24px;
  padding: 0 25px 85px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  overflow-y: auto;
}

.entity-list {
  position: relative;
  height: 100%;
}

.entity-details-boxes {
  height: 100%;
  background-color: #f2f2f2;
  color: #363636;
  font-size: 13px;
  line-height: 24px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  overflow-y: auto;
  padding: 10px 15px 0;
  box-shadow: inset 0 1px 3.5px 0 rgba(0,0,0,0.12);
}

.entity-details-loading-box {
  background-color: #fff;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0, 0, 1) 0.3s;
  transition: transform 0.3s cubic-bezier(0.55, 0, 0, 1) 0.3s;
}

.entity-details-loading-icon {
  bottom: 0;
  fill: #0D94F6;
  height: 32px;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  -webkit-transition: opacity 0.3s cubic-bezier(0.55, 0, 0, 1);
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0, 1);
}

.entity-details.is-loading .entity-details-loading-box,
.entity-list.is-loading .entity-details-loading-box {
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.entity-details.is-loading .entity-details-loading-icon,
.entity-list.is-loading .entity-details-loading-icon {
  opacity: 1;
}

.entity-details>form {
  padding-bottom: 25px;
}

.entity-details:not(.simple-form-style) input[type="text"],
.entity-details:not(.simple-form-style) input[type="password"],
.entity-details:not(.simple-form-style) input[type="email"],
.entity-details:not(.simple-form-style) input[type="url"],
.entity-details:not(.simple-form-style) input[type="number"],
.entity-details:not(.simple-form-style) input[type="tel"],
.entity-details:not(.simple-form-style) input[type="date"],
.entity-details:not(.simple-form-style) .input-text,
.entity-details:not(.simple-form-style) textarea,
.entity-details:not(.simple-form-style) select,
.entity-details:not(.simple-form-style) .dropdown {
  border-color: #fff;
}

.entity-details:not(.simple-form-style) input[type="text"]:hover,
.entity-details:not(.simple-form-style) input[type="password"]:hover,
.entity-details:not(.simple-form-style) input[type="email"]:hover,
.entity-details:not(.simple-form-style) input[type="url"]:hover,
.entity-details:not(.simple-form-style) input[type="number"]:hover,
.entity-details:not(.simple-form-style) input[type="tel"]:hover,
.entity-details:not(.simple-form-style) input[type="date"]:hover,
.entity-details:not(.simple-form-style) .input-text:hover,
.entity-details:not(.simple-form-style) textarea:hover,
.entity-details:not(.simple-form-style) select:hover,
.entity-details:not(.simple-form-style) .dropdown:hover {
  border-color: #e0e0e0 !important;
}

.entity-details:not(.simple-form-style) input[type="text"][disabled],
.entity-details:not(.simple-form-style) input[type="password"][disabled],
.entity-details:not(.simple-form-style) input[type="email"][disabled],
.entity-details:not(.simple-form-style) input[type="url"][disabled],
.entity-details:not(.simple-form-style) input[type="number"][disabled],
.entity-details:not(.simple-form-style) input[type="tel"][disabled],
.entity-details:not(.simple-form-style) input[type="date"][disabled],
.entity-details:not(.simple-form-style) .input-text[disabled],
.entity-details:not(.simple-form-style) textarea[disabled],
.entity-details:not(.simple-form-style) select[disabled],
.entity-details:not(.simple-form-style) .dropdown.is-disabled {
  border-color: #fff !important;
}

.entity-details .address .form-group,
.entity-details .personal-name  .form-group {
  padding-bottom: 0;
}

.entity-details label,
.entity-details .col-form-label {
  max-width: 100%;
  padding: 0;
  line-height: 15px;
}

.entity-details .col-form-label {
  padding: 10px 0 10px;
}

.entity-details .form-control {
  padding-top: 0;
}

.entity-details .typed-property-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .drawer-frame .entity-details-boxes .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
