.entity-related {
  height: 100%;
  padding-bottom: 65px;
  background-color: #fff;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  overflow-y: auto;
  position: relative;
}

.entity-related-starched {
  margin: 0 -25px;
  padding-top: 25px;
}

.entity-association-group {
  padding: 8px 0;
  position: relative;
}

.entity-association-group+.entity-association-group {
  border-top: 1px solid #e9e9e9;
}

.entity-association-group-header {
  cursor: pointer;
  padding: 12px 25px;
  position: relative;
}

.entity-association-group-header .quick-add-toggle {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 15px;
  top: 0;
}

.entity-association-group-title {
  color: #888;
  font-weight: 500;
  overflow: hidden;
}

.entity-association-group-expand {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.55, 0, 0, 1);
  transition: transform 0.2s cubic-bezier(0.55, 0, 0, 1);
  vertical-align: middle;
}

.is-expanded .entity-association-group-expand {
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.entity-association-group-overflow {
  max-height: 300px;
  overflow-y: scroll;
}

.entity-association-group-add-row,
.entity-association-group-empty-row {
  padding: 0 25px 10px;
}

.entity-association-group-empty-row {
  color: #ccc;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  height: 64px;
  line-height: 20px;
}

.entity-association-group-empty-row i {
  background-color: #ccc;
  color: #fff;
  height: 34px;
  line-height: 34px;
  margin: 5px;
  text-align: center;
  width: 34px;
  border-radius: 50%;
}

.entity-association-group-loading-row {
  height: 0;
  display: none;
  padding: 0;
  text-align: center;
}

.entity-association-group-loading-row.is-loading {
  height: 52px;
  padding: 10px 0;
  display: block;
}

.entity-association-group-loading-spinner {
  display: inline-block;
  fill: #0D94F6;
  height: 32px;
  width: 32px;
}

.entity-association-group-footer-link {
  font-size: 13px;
  font-weight: 600;
  color: #0D94F6;
  margin: 20px;
}

.is-uploading .entity-association-group-empty-row {
  display: none;
}

.is-uploading .entity-association-group-loading-row {
  display: block;
}

.quick-add-toggle {
  color: #0D94F6;
  font-size: 20px;
  height: 32px;
  line-height: 20px;
  width: 32px;
  transition: transform 0.2s cubic-bezier(0.55, 0, 0, 1);
  cursor: pointer;
}

.quick-add-toggle.is-active {
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.quick-add-toggle .button.is-disabled {
  color: #888;
  cursor: pointer;
}

/*-------------------
    Summary
--------------------*/

.entity-summary {
  min-height: 64px;
  padding: 10px 25px;
  position: relative;
  -webkit-transition: background-color 0.3s cubic-bezier(0.55, 0, 0, 1);
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0, 1);
}

.entity-summary:hover {
  background-color: rgba(242,242,242,0.5);
}

.entity-summary:hover .entity-summary-button-container {
  display: block;
}

.entity-summary:hover .entity-summary-detail {
  display: none;
  width: 32px;
}

.entity-summary-subtitle-group>span,
.entity-summary-subtitle-name {
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entity-summary-title {
  color: #363636;
  font-weight: 500;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entity-summary-title>a {
  color: #363636;
}

.entity-summary-title:last-child {
  line-height: 44px;
}

.entity-summary-subtitle {
  color: #888;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entity-summary-subtitle-name {
  max-width: 40%;
  vertical-align: top;
}

.entity-summary-subtitle-group {
  font-size: 0;
  line-height: 0;
}

.entity-summary-subtitle-group>span {
  font-size: 12px;
  line-height: 20px;
  max-width: 49%;
}

.entity-summary-subtitle-group>span:only-of-type {
  max-width: 100%;
}

.entity-summary-subtitle-group>span+span:before {
  content: '|';
  padding: 0 6px;
}

.entity-summary-detail {
  color: #888;
  float: right;
  line-height: 24px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entity-summary-icon {
  color: #fff;
  float: left;
  font-size: 18px;
  height: 34px;
  line-height: 18px;
  margin: 5px 10px 5px 0;
  width: 34px;
}

.entity-summary-button-container {
  display: none;
  float: right;
  font-size: 0;
  margin: -6px -10px -2px 0;
  text-align: right;
}

.entity-summary-button {
  color: #888;
  display: inline-block;
  font-size: 16px;
  height: 32px;
  margin-left: -6px;
  text-align: center;
  width: 32px;
}

.entity-summary-button:hover {
  color: #363636;
}

.entity-summary.entity-summary-task .entity-summary-icon {
  color: #363636;
  cursor: pointer;
  line-height: 34px;
  text-align: center;
}

.entity-summary.entity-summary-task.is-complete .entity-summary-icon {
  color: #0D94F6;
}

.entity-summary.entity-summary-task.is-complete .entity-summary-title {
  color: #ccc;
  text-decoration: line-through;
}

.entity-summary.entity-summary-task.is-overdue .entity-summary-detail {
  color: #db4437;
}

/*-------------------
    Entity Chart
--------------------*/

.entity-stats {
  font-size: 11px;
  line-height: 16px;
  padding: 0 25px 25px;
}

.entity-stats .entity-stats-detail-label {
  overflow-x: auto;
}

.entity-stats .entity-stats-summation {
  margin-bottom: 20px;
  display: flex;
}

.entity-stats .entity-stats-summation .entity-stats-total {
  width: 50%;
}

.entity-stats .entity-stats-summation .entity-stats-rate {
  padding-left: 20px;
  width: 50%;
}

.entity-stats .entity-stats-summation .entity-stats-subtitle {
  color: #888;
}

.entity-stats .entity-stats-summation .entity-stats-big-num {
  font-size: 16px;
}

.entity-stats .entity-stats-stacked-bar-graph {
  color: #fff;
  display: flex;
  position: relative;
}

.entity-stats .entity-stats-stacked-bar-graph .entity-stats-bar {
  padding-left: 5px;
}

.entity-stats .entity-stats-stacked-bar-graph .entity-stats-bar:not(:first-child) {
  margin-left: 2px;
}

.entity-stats .entity-stats-stacked-bar-graph .entity-stats-bar:hover .entity-stats-detail {
  animation: fade .2s;
  display: block;
}

.entity-stats .entity-stats-stacked-bar-graph .entity-stats-primary {
  background-color: #0D94F6;
}

.entity-stats .entity-stats-stacked-bar-graph .entity-stats-primary .entity-stats-detail-label {
  color: #0D94F6;
}

.entity-stats .entity-stats-stacked-bar-graph .entity-stats-success {
  background-color: #49B04B;
}

.entity-stats .entity-stats-stacked-bar-graph .entity-stats-success .entity-stats-detail-label {
  color: #49B04B;
}

.entity-stats .entity-stats-stacked-bar-graph .entity-stats-success .entity-stats-detail {
  position: absolute;
  left: 5px;
  right: auto;
}

.entity-stats .entity-stats-stacked-bar-graph .entity-stats-detail {
  background: #fff;
  border-radius: 2px;
  border: 1px solid #e9e9e9;
  box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.24);
  color: #000;
  display: none;
  font-weight: 700;
  padding: 16px 10px;
  position: absolute;
  top: -40px;
  width: 144px;
  z-index: 2;
  -webkit-font-smoothing: subpixel-antialiased;
}

.entity-stats .entity-stats-stacked-bar-graph .entity-stats-detail .entity-stats-detail-label {
  font-size: 12px;
  font-weight: 400;
}

.entity-stats .entity-stats-stacked-bar-graph .entity-stats-detail .entity-stats-detail-number {
  float: right;
  color: #000;
}
