.tooltip .tooltip-inner {
  font-size: 12px;
  font-weight: 600;
  text-transform: none;
  line-height: 14px;
  color: #fff;
  background-color: #000;
  width: auto;
  padding: 8px;
  border-radius: 2px;
  text-align: center;
}
