.activity-list {
  padding: 0 0 15px;
  position: relative;
}

.activity-list-filter {
  position: absolute;
  right: 0;
  top: 10px;

  .dropdown-selected {
    font-weight: 500;
  }
}

.activity-list-filter-label {
  color: #696e6f;
  display: inline-block;
  font-weight: 400;
  height: 28px;
  line-height: 24px;
  overflow: hidden;
  font-size: 12px;
}

.activity-list-loading-row {
  display: none;
  text-align: center;
  padding: 10px 20px;
}

.activity-list-loading-spinner {
  display: inline-block;
  fill: #5269de;
  height: 32px;
  width: 32px;
}

.activity-item {
  -webkit-transition: margin 0.3s;
  transition: margin 0.3s;
  background-color: #fff;
  position: relative;
  min-height: 84px;
  border-top: 1px solid #dce3e6;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);

  &:first-child {
    box-shadow: 0 -0.5px 1.5px 0 rgba(0, 0, 0, 0.12), 0 -0.5px 6px rgba(0, 0, 0, 0.12);
  }

  &:last-child {
    box-shadow: 0 2.5px 1.5px 0 rgba(0, 0, 0, 0.12), 0 2.5px 6px rgba(0, 0, 0, 0.12);
  }
}

.activity-item-container {
  display: flex;
}

.activity-item-profile-section {
  flex: none;
  width: 89px;
  padding-right: 5px;
}

.activity-item-profile-image {
  height: 44px;
  width: 44px;
  margin: 20px auto auto;
}

.activity-item-content-section {
  position: relative;
  flex: auto;
  min-width: 0;
  max-width: 600px;
}

.activity-item-header {
  color: #0c0d0d;
  font-size: 13px;
  line-height: 20px;
  padding: 19px 35px 0 0;

  > .activity-item-header-content {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;

    div.actor-display {
      display: inline;
    }
  }
}

.activity-item-extra {
  padding: 5px 0;

  > span + span {
    display: block;
  }
}

.activity-item-extra,
.activity-item-date {
  font-size: 12px;
  color: #696e6f;
  margin-top: -5px;
}

.activity-item {
  .activity-item-date > span:nth-child(2) {
    display: none;
  }

  &.is-expanded .activity-item-date > span {
    &:nth-child(1) {
      display: none;
    }

    &:nth-child(2) {
      display: inline-block;
    }
  }

  .activity-item-date > span:nth-child(1) {
    display: inline-block;
  }
}

.activity-item-content {
  position: relative;
  padding: 0 20px 15px 0;

  &.is-restricted {
    color: #dce3e6;
    font-style: italic;

    > i {
      color: #dce3e6;
      font-style: normal;
    }
  }
}

.activity-item-loading {
  text-align: center;
  padding-top: 10px;
}

.activity-item-loading-spinner {
  display: inline-block;
  fill: #5269de;
  height: 32px;
  width: 32px;
}

.activity-item-attachment-container {
  white-space: normal;
  line-height: 10px;
  font-size: 0;
  padding-top: 8px;

  .attachment {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.activity-item-subject-link {
  cursor: pointer;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }

  &.is-disabled {
    cursor: default;
    color: #696e6f;
    font-weight: 400;
  }
}

.activity-item.activity-item-note {
  .activity-item-header,
  &:not(.is-expanded) {
    cursor: pointer;
  }
}

.activity-item-subject-link.is-disabled:hover {
  text-decoration: none;
}

.activity-item-body.is-disabled {
  color: #696e6f;
}

.activity-item-footer {
  background-color: #eaf0f2;
  border-top: 1px solid #dce3e6;
  border-radius: 0 0 8px 8px;
  bottom: 0;
  display: none;
  height: 48px;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;

  .activity-item-footer-right {
    float: right;
    display: inline-block;
  }

  .activity-item-footer-left {
    float: left;
    display: inline-block;
  }

  .activity-item-footer-action-button {
    margin: -5px 0 0 5px;

    i.md-icon {
      font-size: 20px;
      vertical-align: bottom;
    }
  }

  .activity-item-footer-action-button-icon {
    color: #696e6f;
    font-size: 20px;
  }
}

.activity-item-collapse-text {
  color: #5269de;
  font-size: 18px;
  float: left;
  margin-left: 10px;

  &:hover {
    color: #5269de;
  }
}

.activity-item {
  &:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &.is-expanded {
    border-top: none;
    margin: 15px 0;
    padding-bottom: 50px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19), 0 1px 6px rgba(0, 0, 0, 0.12);
    border-radius: 8px;

    .activity-item-content {
      padding-top: 10px;
    }

    .activity-item-header > h5 div.actor-display {
      display: block;
      margin-right: 70px;
    }

    .activity-item-footer,
    .activity-item-subject {
      display: block;
    }

    &+ .activity-item {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }

  &.is-labeled {
    border-top: none;
    margin-top: 44px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    &.is-expanded {
      border-top: none;
      margin-top: 44px;
    }

    .activity-item-label,
    &.is-expanded .activity-item-label {
      color: #696e6f;
      font-weight: 500;
      left: 0;
      margin: 10px 5px;
      position: absolute;
      top: -44px;
    }
  }

  &.activity-item-note {
    &:not(.is-expanded):hover {
      background-color: #fcfeff;
    }

    .activity-item-content > .activity-item-body {
      line-height: 18px;
      padding: 0;
      border-bottom: none;
      height: 20px;
      margin-bottom: -6px;
    }

    &.is-expanded .activity-item-content {
      max-height: none;
      padding-right: 52px;

      > .activity-item-body {
        height: auto;
        margin-bottom: 0;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }
}

.activity-item-body {
  border-color: transparent;
  line-height: 19px;
  overflow: hidden;

  ul {
    list-style-type: disc;
    white-space: normal;
  }

  ol {
    list-style-type: decimal;
    white-space: normal;
  }

  li {
    padding-left: 10px;
  }

  hr {
    height: 1px;
    flex: 1;
    border-bottom: 1px solid #dce3e6;
  }

  blockquote {
    white-space: normal;
    margin-left: 10px;
  }
}

.activity-item.activity-item-note {
  &.is-editable .activity-item-content > .activity-item-body,
  .activity-item-content > .activity-item-form {
    display: none;
  }

  .activity-item-footer {
    .on,
    .off {
      display: none;
    }
  }

  &:not(.is-editable) .activity-item-content > .activity-item-body {
    display: block;
  }

  &.is-expanded {
    &.is-editable {
      .activity-item-content > .activity-item-form,
      .activity-item-footer .on {
        display: block;
      }
    }

    &:not(.is-editable) .activity-item-footer .off {
      display: block;
    }
  }
}

.activity-log-list {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  line-height: 24px;

  .activity-log-list-empty-message {
    font-size: 16px;
    color: #dce3e6;
    text-align: center;
    font-weight: 700;
    margin-top: 60px;
  }
}

.activity-log-list-dashboard-activity .activity-log-list-empty-message {
  font-size: 30px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.activity-log-list.hide-empty-message .activity-log-list-empty-message {
  display: none;
}

.activity-image {
  position: relative;
}

.activity-image-primary {
  overflow: hidden;
  border-radius: 50%;

  &.profile-image-component {
    height: 44px;
    width: 44px;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.activity-image-secondary {
  position: absolute;
  top: 25px;
  left: 22px;
  height: 24px;
  width: 24px;
  background: #696e6f;
  border-radius: 8px;
  border: 2px solid #fff;

  span {
    position: absolute;
    top: -1px;
    left: 17px;
    width: 16px;
    text-align: center;
    font-size: 11px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
  }

  i {
    position: absolute;
    top: -2px;
    left: 3px;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
  }
}

.activity-image {
  &.is-expanded .activity-image-secondary {
    width: 38px;
  }

  &.is-note .activity-image-secondary {
    background: #5269de;
  }

  &.is-compact {
    .activity-image-primary {
      height: 30px;
      width: 30px;
    }

    .activity-image-secondary {
      top: 16px;
      left: 17px;
      height: 20px;
      width: 20px;
      border-radius: 10px;

      span {
        top: -2px;
        left: 13px;
        width: 9px;
        font-size: 10px;
        line-height: 20px;
      }

      i {
        top: -2px;
        left: 3px;
        font-size: 12px;
        line-height: 20px;
      }
    }

    &.is-expanded .activity-image-secondary {
      width: 28px;
    }
  }
}
