.activity-panel {
  margin: 20px 0 5px;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
}

.activity-panel-header-tabs {
  border-bottom: 1px solid #dce3e6;
  text-align: left;
  margin-bottom: 10px;
  display: flex;

  .tab {
    flex: 1 0 150px;
    text-align: center;
  }
}

.activity-panel-tab {
  color: #696e6f;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding: 12px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: color 0.2s cubic-bezier(0.55, 0, 0, 1);
  transition: color 0.2s cubic-bezier(0.55, 0, 0, 1);

  &:after,
  &:before {
    -ms-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: opacity 0s 0.2s, -webkit-transform 0.2s cubic-bezier(0.55, 0, 0, 1);
    transition: opacity 0s 0.2s, transform 0.2s cubic-bezier(0.55, 0, 0, 1);
    -ms-transform: scaleY(0) translateY(-1px);
    -webkit-transform: scaleY(0) translateY(-1px);
    transform: scaleY(0) translateY(-1px);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    content: '';
    opacity: 0;
  }

  &:after {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    bottom: -1px;
  }

  &:before {
    border-bottom: 7px solid #cdd7db;
    bottom: 0;
  }

  &.active {
    color: #5269de;
    font-weight: 500;

    &:after,
    &:before {
      -webkit-transition: opacity 0s, -webkit-transform 0.2s cubic-bezier(0.55, 0, 0, 1);
      transition: opacity 0s, transform 0.2s cubic-bezier(0.55, 0, 0, 1);
      -ms-transform: none;
      -webkit-transform: none;
      transform: none;
      opacity: 1;
    }
  }
}

.activity-panel-dropdown {
  height: 100%;
  color: #fff;
  font-size: 24px;
  flex: 1 0 150px;
  padding-right: 10px;

  .dropdown.dropdown-icon {
    width: 100%;

    .tab {
      display: block;
    }
  }
}

.activity-panel-content {
  padding: 0 20px 10px;
}

.activity-panel-footer {
  text-align: right;
  padding: 0 20px 10px;
}

.activity-panel.activity-panel-compact {
  margin-top: 10px;

  .activity-panel-header-tabs {
    text-align: center;
    font-size: 0;
  }

  .activity-panel-tab {
    width: 33%;
    padding: 12px 0;
  }
}

.activity-panel-header-selector {
  padding: 0 20px 0 0;
  height: 23px;

  .dropdown {
    border-bottom: 0;
    height: 100%;

    .dropdown-selected {
      display: inline-block;
      width: auto;
      height: 100%;
      font-weight: 500;
    }

    .dropdown-options {
      width: 100%;
      left: -5px;
      top: 0;
    }

    &:focus {
      box-shadow: none;
      border-bottom: 0;
    }
  }
}

.activity-panel-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
}
