.activity-summary {
  margin: 0 0 22px;
  text-align: left;
  white-space: nowrap;
}

.activity-summary-summary-items {
  background-color: #fff;
  clear: both;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
}

.activity-summary-summary-item {
  background-color: #fff;
  flex: 1 1 0;
  height: 70px;
  line-height: 35px;
  overflow: hidden;
  position: relative;
  text-align: center;

  > strong {
    font-weight: 700;
  }

  + .activity-summary-summary-item {
    border-left: 1px solid #e0e0e0;
  }

  .activity-summary-summary-item-number {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: -10px;
  }

  .activity-summary-summary-item-label {
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 8px;
    text-overflow: ellipsis;
  }
}

.activity-summary.activity-summary-compact {
  margin-bottom: 0;

  .activity-summary-summary-item {
    line-height: 30px;
    height: 60px;

    .activity-summary-summary-item-number {
      font-size: 13px;
      margin-top: 5px;
      margin-bottom: -9px;
    }

    .activity-summary-summary-item-label {
      margin-top: -9px;
      margin-bottom: 5px;
      text-overflow: ellipsis;
    }
  }
}
