.dashboard {
  background-color: #fcfcfc;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  position: relative;
  z-index: 0;
}

.dashboard-content {
  margin: 0 auto;
  max-width: 1500px;
  padding: 80px 15px;

  .scrollable-tabs {
    position: fixed;
    top: 60px;
    left: 72px;
    width: calc(100% - 72px);
    z-index: 3;
    transition: margin-left 0.3s, width 0.3s;
    background-color: #fcfcfc;
    box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, 0.24);
    padding-top: 12px;
  }
}

.has-tabs .dashboard-content {
  padding-top: 30px;
}

@media (max-width: 575.98px) {
  .dashboard-content {
    padding-bottom: 100px;
  }
}

@media (min-width: 992px) {
  .sidebar-collapsed .dashboard-content .scrollable-tabs {
    left: 280px;
  }
}

@media (max-width: 991.98px) {
  .dashboard-content .scrollable-tabs {
    left: 0;
    margin-left: 0;
    width: 100%;
  }
}

.dashboard-content .scrollable-tabs-drager {
  padding: 0 20px;
}

@media (max-width: 575.98px) {
  .dashboard-content .scrollable-tabs-drager {
    padding: 0 5px;
  }
}

.dashboard-tabs {
  display: block;
  overflow: hidden;
  margin: 0 10px;
  border-bottom: none;

  .tab {
    padding-bottom: 19px;
  }
}

.dashboard-cards {
  .card {
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.55, 0, 0, 1), opacity 1s cubic-bezier(0.55, 0, 0, 1);
    transition: box-shadow 0.3s cubic-bezier(0.55, 0, 0, 1), opacity 1s cubic-bezier(0.55, 0, 0, 1);
  }

  &.is-ftue .card {
    opacity: 0.5;
    pointer-events: none;

    &.card-ftue {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .card {
    .empty-state {
      color: #dce3e6;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      -ms-transform: translatey(-50%);
      -webkit-transform: translatey(-50%);
      transform: translatey(-50%);
    }

    .empty-state-icon {
      border-radius: 50%;
      background-color: #fcfcfc;
      font-size: 46px;
      height: 100px;
      line-height: 100px;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
    }
  }
}

@media (max-width: 767.98px) {
  .dashboard-cards .card:not(.row-0):not(.row-1) {
    height: auto;
    min-height: 350px;

    &.card-ftue {
      min-height: 600px;
    }
  }
}

@media (min-width: 992px) {
  .dashboard-cards .col-lg-2,
  .dashboard-cards .col-lg-4,
  .dashboard-cards .col-lg-6,
  .dashboard-cards .col-lg-8,
  .dashboard-cards .col-lg-12 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .dashboard-cards .col-lg-2 {
    width: -webkit-calc(20% - 20px);
    width: calc(20% - 20px);
    max-width: 20%;
  }

  .dashboard-cards .col-lg-4 {
    width: -webkit-calc(33.33333% - 20px);
    width: calc(33.33333% - 20px);
    max-width: 33.33333%;
  }

  .dashboard-cards .col-lg-6 {
    width: -webkit-calc(50% - 20px);
    width: calc(50% - 20px);
    max-width: 50%;
  }

  .dashboard-cards .col-lg-8 {
    width: -webkit-calc(66.66667% - 20px);
    width: calc(66.66667% - 20px);
    max-width: 66.66667%;
  }

  .dashboard-cards .col-lg-12 {
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    max-width: 100%;
  }
}

.dashboard-cards .row-0,
.dashboard-cards .row-1,
.dashboard-cards .row-2,
.dashboard-cards .row-3,
.dashboard-cards .row-4,
.dashboard-cards .row-5,
.dashboard-cards .row-6,
.dashboard-cards .row-7,
.dashboard-cards .row-8,
.dashboard-cards .row-9,
.dashboard-cards .row-10,
.dashboard-cards .row-11,
.dashboard-cards .row-12,
.dashboard-cards .row-13,
.dashboard-cards .row-14,
.dashboard-cards .row-15 {
  overflow: hidden;
  margin-bottom: 20px;
}

.dashboard-cards .row-0 {
  height: 100px;
}
.dashboard-cards .row-1 {
  height: 150px;
}
.dashboard-cards .row-2 {
  height: 320px;
}
.dashboard-cards .row-3 {
  height: 490px;
}
.dashboard-cards .row-4 {
  height: 660px;
}
.dashboard-cards .row-5 {
  height: 830px;
}
.dashboard-cards .row-6 {
  height: 1000px;
}
.dashboard-cards .row-7 {
  height: 1170px;
}
.dashboard-cards .row-8 {
  height: 1340px;
}
.dashboard-cards .row-9 {
  height: 1510px;
}
.dashboard-cards .row-10 {
  height: 1680px;
}
.dashboard-cards .row-11 {
  height: 1850px;
}
.dashboard-cards .row-12 {
  height: 2020px;
}
.dashboard-cards .row-13 {
  height: 2190px;
}
.dashboard-cards .row-14 {
  height: 2360px;
}
.dashboard-cards .row-15 {
  height: 2530px;
}
