@font-face {
  font-family: 'Ledger';
  src:
    url('../../fonts/Ledger.ttf?axx3nf') format('truetype'),
    url('../../fonts/Ledger.woff?axx3nf') format('woff'),
    url('../../fonts/Ledger.svg?axx3nf#Ledger') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ledger-icons {
  display: inline-block;

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Ledger' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ledger-icon-2x {
  font-size: 2em;
}
.ledger-icon-3x {
  font-size: 3em;
}
.ledger-icon-4x {
  font-size: 4em;
}
.ledger-icon-5x {
  font-size: 5em;
}

.ledger-icon-arrow-back:before {
  content: "\e90d";
}
.ledger-icon-arrow-left:before {
  content: "\f2ff";
}
.ledger-icon-arrow-right:before {
  content: "\f301";
}
.ledger-icon-camera:before {
  content: "\f28c";
}
.ledger-icon-carat-down:before {
  content: "\f2f2";
}
.ledger-icon-carat-up:before {
  content: "\f2f8";
}
.ledger-icon-check:before {
  content: "\f26b";
}
.ledger-icon-check-circle:before {
  content: "\e906";
}
.ledger-icon-check-square:before {
  content: "\f26a";
}
.ledger-icon-chevron-down:before {
  content: "\e911";
}
.ledger-icon-chevron-left:before {
  content: "\e912";
}
.ledger-icon-chevron-right:before {
  content: "\e914";
}
.ledger-icon-chevron-up:before {
  content: "\e916";
}
.ledger-icon-circle:before {
  content: "\e909";
}
.ledger-icon-circle-outline:before {
  content: "\e90b";
}
.ledger-icon-close:before {
  content: "\e922";
}
.ledger-icon-close-circle:before {
  content: "\e920";
}
.ledger-icon-delete:before {
  content: "\e968";
}
.ledger-icon-dot-circle:before {
  content: "\e91a";
}
.ledger-icon-download:before {
  content: "\e92c";
}
.ledger-icon-drag-handle:before {
  content: "\e974";
}
.ledger-icon-edit:before {
  content: "\e947";
}
.ledger-icon-eye:before {
  content: "\e930";
}
.ledger-icon-eye-off:before {
  content: "\e92f";
}
.ledger-icon-filter:before {
  content: "\e932";
}
.ledger-icon-help:before {
  content: "\f1f6";
}
.ledger-icon-info:before {
  content: "\f1f8";
}
.ledger-icon-lock:before {
  content: "\e93f";
}
.ledger-icon-logo:before {
  content: "\e93e";
}
.ledger-icon-logout:before {
  content: "\e940";
}
.ledger-icon-menu:before {
  content: "\e941";
}
.ledger-icon-messages:before {
  content: "\e942";
}
.ledger-icon-more:before {
  content: "\f19c";
}
.ledger-icon-more-vert:before {
  content: "\f19b";
}
.ledger-icon-reload:before {
  content: "\e90a";
}
.ledger-icon-settings:before {
  content: "\e95b";
}
.ledger-icon-sort-asc:before {
  content: "\f1cd";
}
.ledger-icon-sort-desc:before {
  content: "\f1ce";
}
.ledger-icon-square-outline:before {
  content: "\f279";
}
.ledger-icon-star:before {
  content: "\e929";
}
.ledger-icon-star-outline:before {
  content: "\e95d";
}
.ledger-icon-view-cards:before {
  content: "\e971";
}
.ledger-icon-view-chart:before {
  content: "\e970";
}
.ledger-icon-view-list:before {
  content: "\e972";
}
