.list-page-header-toggle {
  display: none;
}

@media (max-width: 991.98px) {
  .list-page-header.add-header-toggle {
    border-bottom: 1px solid #eee;
  }

  .list-page-header-toggle {
    z-index: 9;
    display: block;
    position: absolute;
    width: 40px;
    height: 14px;
    top: 62px;
    left: 50%;
    margin-left: -20px;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.08);
    transition: all .1s linear;

    &:hover {
      background-color: #dce3e6;
      cursor: pointer;
    }

    .ledger-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: initial;
    }
  }

  .list-page-container:not(.single-line-header) .list-page-header-toggle {
    top: 126px;
  }

  .list-page-container.is-collapsed {
    .list-page-header {
      display: none !important;
    }

    .list-page-header-toggle {
      top: -2px;

      .ledger-icons:before {
        -ms-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
      }
    }
  }

  .has-navigation {
    .list-page-header-toggle {
      top: 110px;
    }

    .list-page-container:not(.single-line-header) .list-page-header-toggle {
      top: 174px;
    }

    .list-page-container.is-collapsed .list-page-header-toggle {
      top: 46px;
    }
  }
}
