.list-page-loading-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 10;
}

.list-loading-content {
  background: #fff;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  display: inline-block;
  font-size: 13px;
  height: 48px;
  line-height: 46px;
  padding: 0 54px;
}

.list-loading-content-loading-spinner {
  display: inline-block;
  height: 20px;
  margin: 0 auto;
  vertical-align: middle;
  width: 20px;
}
