.error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;

  .links {
    margin-top: 40px;
  }

  > p {
    max-width: 380px;
    color: #4a4a4a;
    font-size: 14px;
    line-height: 24px;
  }

  .logo {
    height: 30px;
    margin-top: 32px;
  }

  .jumbo {
    margin-top: 67px;
  }

  .status-code {
    margin-top: 15px;
    color: #aaa;
    font-size: 76px;
    font-weight: 100;
  }

  .status {
    color: #aaa;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  a {
    display: inline-block;
    padding: 0 18px;
    border-radius: 2px;
    background: #495ac6;
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 36px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  }
}
