.error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;

  .links {
    margin-top: 40px;
  }

  > p {
    max-width: 380px;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 24px;
  }

  .logo {
    margin-top: 32px;
    width: 82px;
    height: auto;
  }

  .jumbo {
    margin-top: 67px;
  }

  .status-code {
    font-size: 76px;
    font-weight: 100;
    color: #aaa;
    margin-top: 15px;
  }

  .status {
    text-transform: uppercase;
    font-weight: 700;
    color: #aaa;
    font-size: 14px;
    letter-spacing: 1px;
  }

  a {
    font-weight: bold;
    letter-spacing: 0.5px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    vertical-align: middle;
    transition: background-color 200mx, opacity 200mx;
    outline: none;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #2b41b2;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
    color: #fff !important;

    &:hover {
      text-decoration: none;
      opacity: 0.84;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.12);
      color: #fff;
    }

    &:focus {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.12);
      background-color: #5269de;
      color: #fff;
    }
  }
}
