html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  -moz-box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #ccc;
  opacity: 1;
}

:-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Extended');

.material-icons-extended-pseudo:after {
  font-family: 'Material Icons Extended';
  font-size: 24px;
  font-style: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -ms-font-feature-settings: 'liga' 1;
  -o-font-feature-settings: 'liga' 1;
  -moz-font-feature-settings: 'liga' 1;
  -webkit-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga' 1;
}

// Core librararies
@import '~bootstrap/scss/bootstrap';
@import '~material-design-iconic-font/dist/css/material-design-iconic-font.css';
@import '~odometer/themes/odometer-theme-default.css';
@import '~antiscroll/antiscroll.css';

@import './error';

// Layouts
body {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
  color: #0c0d0d;
  font-family: Roboto, sans-serif;
  overflow: hidden;
}

body[class*='security_login'],
body[class*='resetting_request'],
body[class*='resetting_reset'] {
  @import './layout/auth/index';
}

body.logged-in[class*='admin_'] {
  @import './layout/admin/index';
}
