html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  -moz-box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #ccc;
  opacity: 1;
}

:-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}

// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Extended");

.material-icons-extended-pseudo:after {
  font-family: "Material Icons Extended";
  font-size: 24px;
  font-style: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga" 1;
  -moz-font-feature-settings: "liga" 1;
  -webkit-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1;
}

// Core librararies
@import "~bootstrap/scss/bootstrap";
@import "~material-design-iconic-font/scss/material-design-iconic-font";
@import "~odometer/themes/odometer-theme-default.css";
@import "~antiscroll/antiscroll.css";
@import "~froala-editor/css/froala_editor.css";
@import "~froala-editor/css/froala_style.css";

// Layouts
body.security_login,
body.resetting_request,
body.resetting_reset,
body.two_factor_login {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;

  a {
    color: #2196f3;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @import "./auth/layout";
}

body.logged-in[class*="admin_"] {
  position: fixed;
  width: 100%;
  height: 100%;
  color: #363636;
  font-family: Roboto,sans-serif;
  overflow: hidden;

  @import "./backend/index";
}

/*-------------------
    Error
--------------------*/

.error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.error-wrapper .links {
  margin-top: 40px;
}

.error-wrapper>p {
  max-width: 380px;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 24px;
}

.error-wrapper .logo {
  height: 30px;
  margin-top: 32px;
}

.error-wrapper .jumbo {
  margin-top: 67px;
}

.error-wrapper .status-code {
  margin-top: 15px;
  color: #aaa;
  font-size: 76px;
  font-weight: 100;
}

.error-wrapper .status {
  color: #aaa;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.error-wrapper a {
  display: inline-block;
  padding: 0 18px;
  border-radius: 2px;
  background: #495ac6;
  color: #fff !important;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12),0 2px 2px 0 rgba(0,0,0,0.24);
}
